openapi: 3.0.2
info:
  title: Coin Metrics API v4 Blockchain Explorer Job Full catalog API
  description: '[Coin Metrics Homepage](https://coinmetrics.io/)<br/> [API Backward Compatibility Policy](https://docs.coinmetrics.io/access-our-data/api#backward-compatibility)<br/> [Python API Client](https://coinmetrics.github.io/api-client-python/site/index.html)<br/><br/>

    HTTP API root endpoint URL is `https://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/> WebSocket API root endpoint is `wss://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/><br/> The Community HTTP API root endpoint URL is `https://community-api.coinmetrics.io/v4`. API key is not required when accessing community endpoints. Available to the community under the [Creative Commons](https://creativecommons.org/licenses/by-nc/4.0/) license.

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->

    # Response headers

    Note that Coin Metrics API responses have a `CF-RAY` HTTP header e.g. `88a6ec1d2f930774-IAD` which can be used for diagnostic purposes. When raising Support requests, please ensure to provide the value of this header. '
  termsOfService: https://coinmetrics.io/api/terms
  contact:
    name: Coin Metrics Support
    url: https://coinmetrics.io/support/
    email: support@coinmetrics.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0
servers:
- url: https://api.coinmetrics.io/v4
- url: wss://api.coinmetrics.io/v4
- url: https://community-api.coinmetrics.io/v4
tags:
- name: Full catalog
  x-displayName: Full catalog (deprecated)
  description: 'The Full catalog returns the full range of data that is supported by Coin Metrics across all our products.<br/> If you are a client looking to understand the data that is available for your API key and data license, please use the [Catalog](#tag/Catalog) endpoint. <br/>DEPRECATED: See https://coinmetrics.io/important-changes-to-coin-metrics-api-catalog-endpoints/.       '
paths:
  /catalog-all/assets:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported assets
      description: Returns a list of all supported assets along with information for them like metrics, markets, exchanges and time ranges of available data.
      operationId: getCatalogAllAssets
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/assets?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/assets?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/CatalogAssetIncludeFields'
      - $ref: '#/components/parameters/CatalogAssetExcludeFields'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/Assets'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported metrics
      description: Returns a list of all supported metrics along with information for them like description, category and assets for which a metric is available.</br>This endpoint is deprecated, please use [/catalog-all/asset-metrics](#operation/getCatalogAllAssetMetrics) instead.
      operationId: getCatalogAllMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported asset metrics
      description: Returns a list of all supported asset metrics along with information for them like description, category and assets for which a metric is available.
      operationId: getCatalogAllAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/asset-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/asset-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogAssetMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/exchange-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported exchange metrics
      description: Returns a list of all supported exchange metrics along with information for them like description, category and exchanges for which a metric is available.
      operationId: getCatalogAllExchangeMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/exchange-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/exchange-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogExchangeMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/exchange-asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported exchange-asset metrics
      description: Returns a list of all supported exchange-asset metrics along with information for them like description, category and exchange-asset pairs for which a metric is available.
      operationId: getCatalogAllExchangeAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/exchange-asset-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/exchange-asset-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogExchangeAssetMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported pair metrics
      description: Returns a list of all supported pair metrics along with information for them like description, category and pairs for which a metric is available.
      operationId: getCatalogAllPairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/pair-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/pair-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogPairMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/institution-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported institution metrics
      description: Returns a list of all supported institution metrics along with information for them like description, category and institutions for which a metric is available.
      operationId: getCatalogAllInstitutionMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/institution-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/institution-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogInstitutionMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/exchanges:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported exchanges
      description: Returns a list of all supported exchanges along with available markets for them.
      operationId: getCatalogAllExchanges
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/exchanges?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/exchanges?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogExchangeId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/Exchanges'
        '400':
          $ref: '#/components/responses/ExchangeNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - api_key: []
  /catalog-all/exchange-assets:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported exchange-asset pairs
      description: Returns a list of all supported exchange-asset pairs along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAllExchangeAssets
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/exchange-assets?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/exchange-assets?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogExchangeAssetId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/ExchangeAssets'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/pairs:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported asset pairs
      description: Returns a list of all supported asset pairs along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAllAssetPairs
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/pairs?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/pairs?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogPairId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/Pairs'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/pair-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported asset pair candles
      description: Returns a list of all supported asset pair candles along with the time ranges of available data per candle duration.
      operationId: getCatalogAllPairCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/pair-candles?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/pair-candles?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogPairId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogPairCandles'
        '400':
          $ref: '#/components/responses/PairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/institutions:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported institutions
      description: Returns a list of all support institutions along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAllInstitutions
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/institutions?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/institutions?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogInstitutionId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/Institutions'
        '400':
          $ref: '#/components/responses/InstitutionNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - api_key: []
  /catalog-all/markets:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported markets
      description: Returns a list of all supported markets along with time ranges of available data.
      operationId: getCatalogAllMarkets
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/markets?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/markets?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogMarketIncludeFields'
      - $ref: '#/components/parameters/CatalogMarketExcludeFields'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/Markets'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-trades:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market trades
      description: Returns a list of all markets with trades support along with the time ranges of available data.
      operationId: getCatalogAllMarketTrades
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-trades?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-trades?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketTrades'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market candles
      description: Returns a list of all markets with candles support along with time ranges of available data per candle duration.
      operationId: getCatalogAllMarketCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-candles?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-candles?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketCandles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-orderbooks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market orderbooks
      description: Returns a list of all markets with orderbooks support along with the time ranges of available data.
      operationId: getCatalogAllMarketOrderbooks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-orderbooks?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-orderbooks?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketOrderbooks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-quotes:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market quotes
      description: Returns a list of all markets with quotes support along with the time ranges of available data.
      operationId: getCatalogAllMarketQuotes
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-quotes?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-quotes?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketQuotes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-funding-rates:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market funding rates
      description: Returns a list of all markets with funding rates support along with the time ranges of available data.
      operationId: getCatalogAllMarketFundingRates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-funding-rates?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-funding-rates?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketFundingRates'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-contract-prices:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market contract prices
      description: Returns a list of all market contract prices for option market.
      operationId: getCatalogAllMarketContractPrices
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-contract-prices?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-contract-prices?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketContractPrices'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-implied-volatility:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market implied volatility
      description: Returns a list of all market implied volatility for option market.
      operationId: getCatalogAllMarketImpliedVolatility
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-implied-volatility?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-implied-volatility?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketImpliedVolatility'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-greeks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market greeks
      description: Returns a list of all market greeks for option market.
      operationId: getCatalogAllMarketGreeks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-greeks?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-greeks?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketGreeks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-openinterest:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market open interest
      description: Returns a list of all markets with open interest support along with the time ranges of available data.
      operationId: getCatalogAllMarketOpeninterest
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-openinterest?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-openinterest?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketOpeninterest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-liquidations:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market liquidations
      description: Returns a list of all markets with liquidations support along with the time ranges of available data.
      operationId: getCatalogAllMarketLiquidations
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-liquidations?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-liquidations?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketLiquidations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/market-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported market metrics
      description: Returns a list of all markets with market metrics support along with time ranges of available data per metric.
      operationId: getCatalogAllMarketMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/market-metrics?pretty=true&limit=100&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/market-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/CatalogMarketLimit'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMarketMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/indexes:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported indexes
      description: Returns a list of all supported indexes along with time ranges of available data.
      operationId: getCatalogAllIndexes
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/indexes?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/indexes?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogIndexId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/Indexes'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - api_key: []
  /catalog-all/index-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported index candles
      description: Returns a list of all supported index candles along with the time ranges of available data per candle duration.
      operationId: getCatalogAllIndexCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/index-candles?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/index-candles?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogIndexId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogIndexCandles'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/asset-alerts:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported asset alerts
      description: Returns a list of all supported asset alerts along with their descriptions, thresholds and constituents.
      operationId: getCatalogAllAssetAlertRules
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/asset-alerts?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/asset-alerts?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/CatalogAssetAlertId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/AssetAlertRules'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetAlertNotFound'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/asset-chains:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported asset chains
      description: Returns a list of supported assets for the asset-chains endpoint along with time ranges of available data.
      operationId: getCatalogAllAssetChains
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/asset-chains?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/asset-chains?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogAssetChains'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/mempool-feerates:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported mempool feerates
      description: Returns a list of supported assets for the mempool-feerates endpoint along with time ranges of available data.
      operationId: getCatalogAllMempoolFeerates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/mempool-feerates?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/mempool-feerates?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMempoolFeerates'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/mining-pool-tips-summary:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported mining pool tips summaries
      description: Returns a list of supported assets for the mining-pool-tips-summary endpoint along with time ranges of available data.
      operationId: getCatalogAllMiningPoolTipsSummary
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/mining-pool-tips-summary?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/mining-pool-tips-summary?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogMiningPoolTipsSummary'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-all/transaction-tracker:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      deprecated: true
      summary: Supported transaction tracker assets
      description: Returns a list of supported assets for the transaction-tracker endpoint along with time ranges of available data.
      operationId: getCatalogAllTransactionTracker
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-all/transaction-tracker?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-all/transaction-tracker?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Full catalog
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogTransactionTracker'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
components:
  schemas:
    AssetAlertSubRuleConstituent:
      description: Name of the alerting metric.
      type: string
    Pairs:
      description: List of pair names.
      items:
        $ref: '#/components/schemas/PairId'
      type: array
    CatalogMarketGreeksInfo:
      description: Information about market and time range of its available greeks data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    Reviewable:
      description: Reviewable by human flag.
      type: boolean
    AssetMetricInfo:
      description: Information about availability of metric for an asset.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/AssetMetricFrequencies'
      required:
      - metric
      - frequencies
    CatalogMarketOpeninterestInfo:
      description: Information about market and time range of its available open interest data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    CatalogMarketOrderbooksResponse:
      description: List of market orderbooks statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketOrderbooksInfo'
          type: array
      required:
      - data
      type: object
    PairMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/PairMetricFrequency'
      type: array
    AssetAtlas:
      description: If set to true, Atlas data is available for this asset.
      type: boolean
    ExchangesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExchangeInfo'
          type: array
      required:
      - data
      type: object
    Institutions:
      description: List of institutions.
      items:
        $ref: '#/components/schemas/InstitutionId'
      type: array
    PairMetricInfo:
      description: Information about availability of metric for an pair.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/PairMetricFrequencies'
      required:
      - metric
      - frequencies
    MinHeight:
      description: Minimal available block height for time series.
      type: string
      format: int64
    MarketMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogMarketQuotesInfo:
      description: Information about market and time range of its available quotes data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    CatalogExchangeMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogExchangeMetricInfo'
          type: array
      required:
      - data
      type: object
    CatalogExchangeMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the exchange metric.
        exchanges:
          $ref: '#/components/schemas/ExchangeIds'
      type: object
      required:
      - frequency
      - exchanges
    CatalogMiningPoolTipsSummaryInfo:
      description: Information about mining pool tips summary.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogAssetChainsInfo:
      description: Information about asset chains.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogMarketTradesInfo:
      description: Information about market and time range of its available trades data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    ExchangeMetricInfo:
      description: Information about availability of metric for an exchange.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/ExchangeMetricFrequencies'
      required:
      - metric
      - frequencies
    SettlementPrice:
      description: Price of underlying asset at contract expiration.
      type: string
      format: decimal
    CatalogExchangeAssetMetricFrequencies:
      description: List of exchange-asset metric frequencies.
      items:
        $ref: '#/components/schemas/CatalogExchangeAssetMetricFrequency'
      type: array
    CatalogInstitutionMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the institution metric.
        institutions:
          $ref: '#/components/schemas/Institutions'
      type: object
      required:
      - frequency
      - institutions
    MarketMetricInfo:
      description: Information about availability of metric for a market.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/MarketMetricFrequencies'
      required:
      - metric
      - frequencies
    OptionStrike:
      description: Strike price for option trade.
      type: string
      format: decimal
    InstitutionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/InstitutionInfo'
          type: array
      required:
      - data
      type: object
    MarketInfo:
      description: Information about a market.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        trades:
          $ref: '#/components/schemas/MarketTimeRange'
        orderbooks:
          $ref: '#/components/schemas/MarketTimeRange'
        quotes:
          $ref: '#/components/schemas/MarketTimeRange'
        funding_rates:
          $ref: '#/components/schemas/MarketTimeRange'
        openinterest:
          $ref: '#/components/schemas/MarketTimeRange'
        liquidations:
          $ref: '#/components/schemas/MarketTimeRange'
        exchange:
          $ref: '#/components/schemas/Exchange'
        base:
          $ref: '#/components/schemas/AssetIdBase'
        quote:
          $ref: '#/components/schemas/AssetIdQuote'
        symbol:
          $ref: '#/components/schemas/MarketSymbol'
        type:
          $ref: '#/components/schemas/MarketType'
        size_asset:
          $ref: '#/components/schemas/DerivativeContractSizeAsset'
        margin_asset:
          $ref: '#/components/schemas/DerivativeContractMarginAsset'
        strike:
          $ref: '#/components/schemas/OptionStrike'
        option_contract_type:
          $ref: '#/components/schemas/OptionContractType'
        is_european:
          $ref: '#/components/schemas/IsEuropean'
        contract_size:
          $ref: '#/components/schemas/MarketContractSize'
        tick_size:
          $ref: '#/components/schemas/FutureTickSize'
        listing:
          $ref: '#/components/schemas/DerivativeContractListing'
        expiration:
          $ref: '#/components/schemas/DerivativeContractExpiration'
        settlement_price:
          $ref: '#/components/schemas/SettlementPrice'
        pool_config_id:
          $ref: '#/components/schemas/DefiPoolConfigId'
        contract_address:
          $ref: '#/components/schemas/DefiContractAddress'
        fee:
          $ref: '#/components/schemas/DefiFee'
        base_address:
          $ref: '#/components/schemas/DefiBaseAddress'
        quote_address:
          $ref: '#/components/schemas/DefiQuoteAddress'
        status:
          $ref: '#/components/schemas/Status'
        order_amount_increment:
          $ref: '#/components/schemas/OrderAmountIncrement'
        order_amount_min:
          $ref: '#/components/schemas/OrderAmountMin'
        order_amount_max:
          $ref: '#/components/schemas/OrderAmountMax'
        order_price_increment:
          $ref: '#/components/schemas/OrderPriceIncrement'
        order_price_min:
          $ref: '#/components/schemas/OrderPriceMin'
        order_price_max:
          $ref: '#/components/schemas/OrderPriceMax'
        order_size_min:
          $ref: '#/components/schemas/OrderSizeMin'
        order_taker_fee:
          $ref: '#/components/schemas/OrderTakerFee'
        order_maker_fee:
          $ref: '#/components/schemas/OrderMakerFee'
        margin_trading_enabled:
          $ref: '#/components/schemas/MarginTradingEnabled'
        experimental:
          $ref: '#/components/schemas/ExperimentalMarket'
      type: object
      required:
      - market
      - min_time
      - max_time
      - exchange
      - type
    IndexType:
      description: Type of the index.
      type: string
    OrderTakerFee:
      type: string
      format: decimal
    DerivativeContractMarginAsset:
      description: Name of the derivative margin asset.
      type: string
    OrderPriceMin:
      description: Minimum price.
      type: string
      format: decimal
    CatalogPairCandlesInfo:
      description: Information about pair and its supported candle durations.
      properties:
        pair:
          $ref: '#/components/schemas/PairId'
        frequencies:
          $ref: '#/components/schemas/CatalogCandleFrequencies'
      type: object
      required:
      - pair
    CatalogMarketContractPricesResponse:
      description: List of contract prices statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketContractPricesInfo'
          type: array
      required:
      - data
      type: object
    InstitutionInfo:
      description: Information about Institution.
      properties:
        institution:
          $ref: '#/components/schemas/InstitutionId'
        metrics:
          $ref: '#/components/schemas/InstitutionMetricsIds'
      type: object
      required:
      - institution
    CatalogMempoolFeeratesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMempoolFeeratesInfo'
          type: array
      required:
      - data
      type: object
    AssetAlertRuleInfo:
      description: Information about the asset alert.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        name:
          $ref: '#/components/schemas/AssetAlertRuleName'
        conditions:
          $ref: '#/components/schemas/AssetAlertSubRules'
      type: object
      required:
      - asset
      - name
      - conditions
    IsEuropean:
      description: shows if the options contract is european or not.
      type: boolean
    MaxTime:
      description: Maximal available time for time series.
      type: string
      format: date-time
    ExchangeIds:
      description: List of exchange names.
      items:
        $ref: '#/components/schemas/ExchangeId'
      type: array
    CatalogMarketFundingRatesResponse:
      description: List of market funding rates statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketFundingRatesInfo'
          type: array
      required:
      - data
      type: object
    InstitutionId:
      description: Unique name of the institution.
      type: string
    DerivativeContractListing:
      description: Derivative contract listing date.
      type: string
      format: date-time
    IndexId:
      description: Name of the index.
      type: string
    MarketId:
      description: Unique name of the market.
      type: string
    AssetAlertRulesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/AssetAlertRuleInfo'
          type: array
      required:
      - data
      type: object
    CatalogAssetMetricFrequencies:
      description: List of asset metric frequencies.
      items:
        $ref: '#/components/schemas/CatalogAssetMetricFrequency'
      type: array
    Status:
      description: Market status (online/offline).
      type: string
    CatalogAssetMetricInfo:
      description: Information about asset metric.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        full_name:
          $ref: '#/components/schemas/FullName'
        description:
          $ref: '#/components/schemas/Description'
        product:
          $ref: '#/components/schemas/Product'
        category:
          $ref: '#/components/schemas/Category'
        subcategory:
          $ref: '#/components/schemas/Subcategory'
        unit:
          $ref: '#/components/schemas/Unit'
        data_type:
          $ref: '#/components/schemas/MetricDataType'
        type:
          $ref: '#/components/schemas/MetricType'
        reviewable:
          $ref: '#/components/schemas/Reviewable'
        frequencies:
          $ref: '#/components/schemas/CatalogAssetMetricFrequencies'
        display_name:
          $ref: '#/components/schemas/DisplayName'
        experimental:
          $ref: '#/components/schemas/ExperimentalMetric'
      required:
      - metric
      - full_name
      - description
      - product
      - category
      - subcategory
      - unit
      - data_type
      - type
      - frequencies
      type: object
    ExchangeAssetMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    MarginTradingEnabled:
      type: boolean
    ExchangeAssetMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/ExchangeAssetMetricInfo'
      type: array
    ExchangeAsset:
      description: Unique combination of the exchange and asset.
      type: string
    Exchange:
      description: Name of the exchange.
      type: string
    CatalogMarketMetricsResponse:
      description: List of market metrics statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketMetricsInfo'
          type: array
      required:
      - data
      type: object
    ExchangeAssets:
      description: List of exchange-asset pairs.
      items:
        $ref: '#/components/schemas/ExchangeAsset'
      type: array
    CatalogMempoolFeeratesInfo:
      description: Information about mempool feerates.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogMarketOrderbookDepth:
      description: 'Order book availability for a depth. The depth-level min_time and max_time are backward-compatible summary fields. When the snapshots dataset is present, they match the snapshots dataset min_time and max_time. If snapshots is absent and updates is present, they fall back to the updates dataset range. They do not represent a union of dataset ranges.

        '
      properties:
        depth:
          type: string
          description: Depth of the book
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        datasets:
          $ref: '#/components/schemas/CatalogMarketOrderbookDatasets'
      required:
      - depth
      - min_time
      - max_time
    Unit:
      description: Unit of the metric.
      type: string
    AssetsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/AssetInfo'
          type: array
      required:
      - data
      type: object
    ExchangesIds:
      description: List of exchange names.
      items:
        $ref: '#/components/schemas/ExchangeId'
      type: array
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
      required:
      - error
      type: object
    CatalogInstitutionMetricFrequencies:
      description: List of institution metric frequencies.
      items:
        $ref: '#/components/schemas/CatalogInstitutionMetricFrequency'
      type: array
    CatalogMarketLiquidationsInfo:
      description: Information about market and time range of its available liquidations data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    ExchangeAssetsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExchangeAssetInfo'
          type: array
      required:
      - data
      type: object
    PairMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/PairMetricInfo'
      type: array
    AssetAlertSubRules:
      description: Conditions that should be met in order for the corresponding asset alert to be produced.
      items:
        $ref: '#/components/schemas/AssetAlertSubRule'
      type: array
    CatalogExchangeMetricFrequencies:
      description: List of exchange metric frequencies.
      items:
        $ref: '#/components/schemas/CatalogExchangeMetricFrequency'
      type: array
    MetricDataType:
      description: 'Data Type of the metric. Can be bigint or decimal.<br/>

        "bigint" means that you should expect an integer number in a range from -9223372036854775808 to 9223372036854775807.<br/>

        "decimal" means that a number can have up to 131072 digits before the decimal point and up to 16383 digits after the decimal point.

        '
      type: string
    CatalogPairMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the pair metric.
        pairs:
          $ref: '#/components/schemas/Pairs'
      type: object
      required:
      - frequency
      - pairs
    AssetAlertSubRule:
      description: Information about the asset alert condition.
      properties:
        description:
          $ref: '#/components/schemas/AssetAlertSubRuleDescription'
        threshold:
          $ref: '#/components/schemas/AssetAlertSubRuleThreshold'
        constituents:
          $ref: '#/components/schemas/AssetAlertSubRuleConstituents'
      type: object
      required:
      - description
      - constituents
    AssetAlertSubRuleConstituents:
      description: Names of the alerting metrics that form an alerting value to be compared against the Key Risk Indicator threshold.
      items:
        $ref: '#/components/schemas/AssetAlertSubRuleConstituent'
      type: array
    Community:
      description: Indicates an availability of the metric in the community version of the API.
      type: boolean
    CatalogMarketOrderbookDatasets:
      description: Dataset-specific availability ranges for this order book depth.
      items:
        $ref: '#/components/schemas/CatalogMarketOrderbookDataset'
      type: array
    FullName:
      description: Human-friendly name.
      type: string
    DefiPoolConfigId:
      description: DeFi pooling config ID.
      type: string
    OptionContractType:
      description: '''call or ''put'' option contract type.'
      type: string
    CatalogIndexFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the index.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - frequency
      - min_time
      - max_time
    CatalogMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMetricInfo'
          type: array
      required:
      - data
      type: object
    MarketType:
      description: Type of the market (spot, future).
      type: string
    MinTime:
      description: Minimal available time for time series.
      type: string
      format: date-time
    ErrorObject:
      properties:
        type:
          description: Error type string. Can be used for error identification.
          type: string
        message:
          description: Human-friendly error description. Can be amended without prior notification. Do not use for error identification in your code.
          type: string
      required:
      - type
      - description
      type: object
    CatalogPairMetricInfo:
      description: Information about pair metric.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        full_name:
          $ref: '#/components/schemas/FullName'
        description:
          $ref: '#/components/schemas/Description'
        product:
          $ref: '#/components/schemas/Product'
        category:
          $ref: '#/components/schemas/Category'
        subcategory:
          $ref: '#/components/schemas/Subcategory'
        unit:
          $ref: '#/components/schemas/Unit'
        data_type:
          $ref: '#/components/schemas/MetricDataType'
        type:
          $ref: '#/components/schemas/MetricType'
        reviewable:
          $ref: '#/components/schemas/Reviewable'
        frequencies:
          $ref: '#/components/schemas/CatalogPairMetricFrequencies'
        display_name:
          $ref: '#/components/schemas/DisplayName'
        experimental:
          $ref: '#/components/schemas/ExperimentalMetric'
      required:
      - metric
      - full_name
      - description
      - product
      - category
      - subcategory
      - unit
      - data_type
      - type
      - frequencies
      type: object
    AssetId:
      description: Unique name of the asset.
      type: string
    AssetInfo:
      description: Information about asset.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        full_name:
          $ref: '#/components/schemas/FullName'
        experimental:
          $ref: '#/components/schemas/ExperimentalAsset'
        metrics:
          $ref: '#/components/schemas/MetricsIds'
        exchanges:
          $ref: '#/components/schemas/ExchangesIds'
        markets:
          $ref: '#/components/schemas/MarketsIds'
        atlas:
          $ref: '#/components/schemas/AssetAtlas'
      type: object
      required:
      - asset
      - full_name
    MaxHash:
      description: Maximal available block hash for time series.
      type: string
    CatalogExchangeMetricInfo:
      description: Information about exchange metric.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        full_name:
          $ref: '#/components/schemas/FullName'
        description:
          $ref: '#/components/schemas/Description'
        product:
          $ref: '#/components/schemas/Product'
        category:
          $ref: '#/components/schemas/Category'
        subcategory:
          $ref: '#/components/schemas/Subcategory'
        unit:
          $ref: '#/components/schemas/Unit'
        data_type:
          $ref: '#/components/schemas/MetricDataType'
        type:
          $ref: '#/components/schemas/MetricType'
        reviewable:
          $ref: '#/components/schemas/Reviewable'
        frequencies:
          $ref: '#/components/schemas/CatalogExchangeMetricFrequencies'
        display_name:
          $ref: '#/components/schemas/DisplayName'
        experimental:
          $ref: '#/components/schemas/ExperimentalMetric'
      required:
      - metric
      - full_name
      - description
      - product
      - category
      - subcategory
      - unit
      - data_type
      - type
      - frequencies
      type: object
    OrderAmountMax:
      description: Maximum amount size.
      type: string
      format: decimal
    AssetAlertRuleName:
      description: Name of the asset alert.
      type: string
    CatalogMetricInfo:
      description: Information about asset metric.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        full_name:
          $ref: '#/components/schemas/FullName'
        description:
          $ref: '#/components/schemas/Description'
        category:
          $ref: '#/components/schemas/Category'
        subcategory:
          $ref: '#/components/schemas/Subcategory'
        unit:
          $ref: '#/components/schemas/Unit'
        data_type:
          $ref: '#/components/schemas/MetricDataType'
        type:
          $ref: '#/components/schemas/MetricType'
        reviewable:
          $ref: '#/components/schemas/Reviewable'
        frequencies:
          $ref: '#/components/schemas/CatalogAssetMetricFrequencies'
        display_name:
          $ref: '#/components/schemas/DisplayName'
        experimental:
          $ref: '#/components/schemas/ExperimentalMetric'
      required:
      - metric
      - full_name
      - description
      - category
      - subcategory
      - unit
      - data_type
      - type
      - frequencies
      type: object
    ExchangeId:
      description: Unique name of the exchange.
      type: string
    OrderPriceIncrement:
      description: Price precision.
      type: string
      format: decimal
    CatalogCandleFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the candle.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - frequency
      - min_time
      - max_time
    Subcategory:
      description: Subcategory of the metric.
      type: string
    AssetIdBase:
      description: Unique name of the base asset.
      type: string
    ExchangeAssetInfo:
      description: Information about Exchange-asset combination.
      properties:
        exchange_asset:
          $ref: '#/components/schemas/ExchangeAsset'
        metrics:
          $ref: '#/components/schemas/ExchangeAssetMetricsIds'
      type: object
      required:
      - pair
    ExperimentalMetric:
      description: If set to true, indicates that metrics collection is under active development - there is a chance of temporary discrepancies in the served dataset.
      type: boolean
    CatalogPairMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogPairMetricInfo'
          type: array
      required:
      - data
      type: object
    ExchangeMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/ExchangeMetricInfo'
      type: array
    MaxHeight:
      description: Maximal available block height for time series.
      type: string
      format: int64
    CatalogMarketMetricsInfo:
      description: Information about market and its supported metrics.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        metrics:
          $ref: '#/components/schemas/MarketMetricsIds'
      type: object
      required:
      - market
      - metrics
    ExchangeInfo:
      description: Information about an exchange.
      properties:
        exchange:
          $ref: '#/components/schemas/ExchangeId'
        markets:
          $ref: '#/components/schemas/MarketsIds'
        metrics:
          $ref: '#/components/schemas/ExchangeMetricsIds'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - exchange
      - markets
      - min_time
      - max_time
      type: object
    Description:
      description: Human-friendly description.
      type: string
    CatalogMarketQuotesResponse:
      description: List of market quotes statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketQuotesInfo'
          type: array
      required:
      - data
      type: object
    CatalogExchangeAssetMetricInfo:
      description: Information about exchange-asset metric.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        full_name:
          $ref: '#/components/schemas/FullName'
        description:
          $ref: '#/components/schemas/Description'
        product:
          $ref: '#/components/schemas/Product'
        category:
          $ref: '#/components/schemas/Category'
        subcategory:
          $ref: '#/components/schemas/Subcategory'
        unit:
          $ref: '#/components/schemas/Unit'
        data_type:
          $ref: '#/components/schemas/MetricDataType'
        type:
          $ref: '#/components/schemas/MetricType'
        reviewable:
          $ref: '#/components/schemas/Reviewable'
        frequencies:
          $ref: '#/components/schemas/CatalogExchangeAssetMetricFrequencies'
        display_name:
          $ref: '#/components/schemas/DisplayName'
        experimental:
          $ref: '#/components/schemas/ExperimentalMetric'
      required:
      - metric
      - full_name
      - description
      - product
      - category
      - subcategory
      - unit
      - data_type
      - type
      - frequencies
      type: object
    AssetAlertSubRuleDescription:
      description: Description of the asset alert.
      type: string
    CatalogInstitutionMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogInstitutionMetricInfo'
          type: array
      required:
      - data
      type: object
    AssetsIds:
      description: List of asset names.
      items:
        $ref: '#/components/schemas/AssetId'
      type: array
    ExperimentalAsset:
      description: If set to true, discrepancies might be present in the dataset for this asset, and that's expected.
      type: boolean
    MarketTimeRange:
      description: Available time range for time series.
      properties:
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - min_time
      - max_time
    DefiFee:
      description: DeFi fee (in percents).
      type: string
      format: decimal
    InstitutionMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/InstitutionMetricFrequency'
      type: array
    CatalogMarketTradesResponse:
      description: List of market trades statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketTradesInfo'
          type: array
      required:
      - data
      type: object
    CatalogAssetChainsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogAssetChainsInfo'
          type: array
      required:
      - data
      type: object
    PairId:
      description: Unique name of the pair.
      type: string
    IndexesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/IndexInfo'
          type: array
      required:
      - data
      type: object
    CatalogMiningPoolTipsSummaryResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMiningPoolTipsSummaryInfo'
          type: array
      required:
      - data
      type: object
    MetricType:
      description: Type of the metric.
      type: string
    MetricId:
      description: Name of the metric.
      type: string
    CatalogTransactionTrackerResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogTransactionTrackerInfo'
          type: array
      required:
      - data
      type: object
    AssetAlertSubRuleThreshold:
      description: Asset alert's Key Risk Indicator triggering value. Omitted if asset alert condition depends on the variable metric threshold (this fact will be reflected in the condition description).
      type: string
    MetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/AssetMetricInfo'
      type: array
    ExchangeMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogMarketOrderbookDataset:
      properties:
        dataset:
          type: string
          description: Order book dataset name.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - dataset
      - min_time
      - max_time
    ExchangeAssetMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/ExchangeAssetMetricFrequency'
      type: array
    DerivativeContractSizeAsset:
      description: Name of the derivative contract size asset.
      type: string
    AssetMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        min_height:
          $ref: '#/components/schemas/MinHeight'
        max_height:
          $ref: '#/components/schemas/MaxHeight'
        min_hash:
          $ref: '#/components/schemas/MinHash'
        max_hash:
          $ref: '#/components/schemas/MaxHash'
        community:
          $ref: '#/components/schemas/Community'
        experimental:
          $ref: '#/components/schemas/ExperimentalAssetMetric'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    MarketContractSize:
      description: Market contract size.
      type: string
      format: decimal
    PairMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogExchangeAssetMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the exchange-asset metric.
        exchange_assets:
          $ref: '#/components/schemas/ExchangeAssets'
      type: object
      required:
      - frequency
      - exchange_assets
    CatalogMarketLiquidationsResponse:
      description: List of market liquidations statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketLiquidationsInfo'
          type: array
      required:
      - data
      type: object
    IndexInfo:
      description: Information about an index.
      properties:
        index:
          $ref: '#/components/schemas/IndexId'
        full_name:
          $ref: '#/components/schemas/Description'
        description:
          $ref: '#/components/schemas/Description'
        frequencies:
          $ref: '#/components/schemas/IndexFrequencies'
        type:
          $ref: '#/components/schemas/IndexType'
      required:
      - index
      - full_name
      - description
      - frequencies
      type: object
    CatalogMarketImpliedVolatilityResponse:
      description: List of implied volatility statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketImpliedVolatilityInfo'
          type: array
      required:
      - data
      type: object
    InstitutionMetricInfo:
      description: Information about availability of metric for an institution.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/InstitutionMetricFrequencies'
      required:
      - metric
      - frequencies
    Product:
      description: Associated Product of the metric.
      type: string
    CatalogIndexCandlesInfo:
      description: Information about index and its supported candle durations.
      properties:
        index:
          $ref: '#/components/schemas/IndexId'
        frequencies:
          $ref: '#/components/schemas/CatalogCandleFrequencies'
      type: object
      required:
      - index
    ExperimentalAssetMetric:
      description: Asset, metric, and frequency combination is experimental.
      type: boolean
    OrderPriceMax:
      description: Maximum price.
      type: string
      format: decimal
    PairsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PairInfo'
          type: array
      required:
      - data
      type: object
    CatalogMarketOrderbooksInfo:
      description: Information about market and time range of its available orderbooks data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        depths:
          $ref: '#/components/schemas/CatalogMarketOrderbookDepths'
      type: object
      required:
      - market
      - min_time
      - max_time
      - depths
    OrderAmountMin:
      description: Minimum amount size.
      type: string
      format: decimal
    OrderMakerFee:
      type: string
      format: decimal
    DefiQuoteAddress:
      description: DeFi quote address.
      type: string
    MarketMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/MarketMetricFrequency'
      type: array
    CatalogMarketOpeninterestResponse:
      description: List of market open interest statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketOpeninterestInfo'
          type: array
      required:
      - data
      type: object
    CatalogExchangeAssetMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogExchangeAssetMetricInfo'
          type: array
      required:
      - data
      type: object
    FutureTickSize:
      description: Futures tick size.
      type: string
      format: decimal
    CatalogIndexCandlesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogIndexCandlesInfo'
          type: array
      required:
      - data
      type: object
    CatalogMarketContractPricesInfo:
      description: Information about market and time range of its available contract prices data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    DefiContractAddress:
      description: DeFi contract address.
      type: string
    CatalogPairMetricFrequencies:
      description: List of pair metric frequencies.
      items:
        $ref: '#/components/schemas/CatalogPairMetricFrequency'
      type: array
    CatalogAssetMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the asset metric.
        assets:
          $ref: '#/components/schemas/AssetsIds'
      type: object
      required:
      - frequency
      - assets
    Category:
      description: Category of the metric.
      type: string
    DerivativeContractExpiration:
      description: Derivative contract expiration date.
      type: string
      format: date-time
    AssetIdQuote:
      description: Unique name of the quote asset.
      type: string
    DisplayName:
      description: More detailed and human friendly name of a metric.
      type: string
    OrderSizeMin:
      description: Minimum order size, where order size is amount * price.
      type: string
      format: decimal
    CatalogPairCandlesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogPairCandlesInfo'
          type: array
      required:
      - data
      type: object
    DefiBaseAddress:
      description: DeFi base address.
      type: string
    CatalogMarketImpliedVolatilityInfo:
      description: Information about market and time range of its available implied volatility data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    OrderAmountIncrement:
      description: Volume precision.
      type: string
      format: decimal
    MarketSymbol:
      description: Unique name of the derivative market symbol.
      type: string
    InstitutionMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    MarketsResponse:
      description: List of markets.
      properties:
        data:
          items:
            $ref: '#/components/schemas/MarketInfo'
          type: array
      required:
      - data
      type: object
    CatalogAssetMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogAssetMetricInfo'
          type: array
      required:
      - data
      type: object
    CatalogTransactionTrackerInfo:
      description: Information about transaction tracker.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    AssetMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/AssetMetricFrequency'
      type: array
    ExchangeMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/ExchangeMetricFrequency'
      type: array
    InstitutionMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/InstitutionMetricInfo'
      type: array
    MinHash:
      description: Minimal available black hash for time series.
      type: string
    CatalogMarketCandlesInfo:
      description: Information about market and its supported candle durations.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        frequencies:
          $ref: '#/components/schemas/CatalogCandleFrequencies'
      type: object
      required:
      - market
      - candles
    IndexFrequencies:
      description: Frequencies of the index.
      items:
        $ref: '#/components/schemas/CatalogIndexFrequency'
      type: array
    CatalogInstitutionMetricInfo:
      description: Information about institution metric.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        full_name:
          $ref: '#/components/schemas/FullName'
        description:
          $ref: '#/components/schemas/Description'
        product:
          $ref: '#/components/schemas/Product'
        category:
          $ref: '#/components/schemas/Category'
        subcategory:
          $ref: '#/components/schemas/Subcategory'
        unit:
          $ref: '#/components/schemas/Unit'
        data_type:
          $ref: '#/components/schemas/MetricDataType'
        type:
          $ref: '#/components/schemas/MetricType'
        reviewable:
          $ref: '#/components/schemas/Reviewable'
        frequencies:
          $ref: '#/components/schemas/CatalogInstitutionMetricFrequencies'
        display_name:
          $ref: '#/components/schemas/DisplayName'
        experimental:
          $ref: '#/components/schemas/ExperimentalMetric'
      required:
      - metric
      - full_name
      - description
      - product
      - category
      - subcategory
      - unit
      - data_type
      - type
      - frequencies
      type: object
    ExperimentalMarket:
      description: If set to true, indicates that market collection is under active development - there is a chance of temporary discrepancies in the served dataset.
      type: boolean
    MarketMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/MarketMetricInfo'
      type: array
    CatalogMarketCandlesResponse:
      description: List of market candles statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketCandlesInfo'
          type: array
      required:
      - data
      type: object
    CatalogMarketFundingRatesInfo:
      description: Information about market and time range of its available funding rates data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    CatalogCandleFrequencies:
      description: Frequencies of the candle.
      items:
        $ref: '#/components/schemas/CatalogCandleFrequency'
      type: array
    MarketsIds:
      description: List of market names.
      items:
        $ref: '#/components/schemas/MarketId'
      type: array
    CatalogMarketGreeksResponse:
      description: List of greeks statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketGreeksInfo'
          type: array
      required:
      - data
      type: object
    ExchangeAssetMetricInfo:
      description: Information about availability of metric for an exchange-asset.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/ExchangeAssetMetricFrequencies'
      required:
      - metric
      - frequencies
    PairInfo:
      description: Information about pair.
      properties:
        pair:
          $ref: '#/components/schemas/PairId'
        full_name:
          $ref: '#/components/schemas/FullName'
        metrics:
          $ref: '#/components/schemas/PairMetricsIds'
      type: object
      required:
      - pair
    CatalogMarketOrderbookDepths:
      description: Depths of the book.
      items:
        $ref: '#/components/schemas/CatalogMarketOrderbookDepth'
      type: array
  responses:
    CatalogMarketOpeninterest:
      description: List of market open interest statistics.
      content:
        application/json:
          example:
            data:
            - market: binance-1000BTTCUSDT-future
              min_time: '2022-01-26T03:30:43.271000000Z'
              max_time: '2022-04-11T08:51:00.000000000Z'
            - market: binance-1000LUNCBUSD-future
              min_time: '2022-05-31T02:45:00.000000000Z'
              max_time: '2022-07-04T13:53:00.000000000Z'
            - market: binance-1000SHIBUSDT-future
              min_time: '2021-05-10T13:00:58.123000000Z'
              max_time: '2022-07-04T13:53:00.000000000Z'
          schema:
            $ref: '#/components/schemas/CatalogMarketOpeninterestResponse'
    CatalogMarketGreeks:
      description: List of greeks statistics.
      content:
        application/json:
          example:
            data:
            - market: deribit-BTC-15OCT21-60000-C-option
              min_time: '2022-01-26T08:00:00.001000000Z'
              max_time: '2022-04-11T08:00:00.000000000Z'
            - market: deribit-BTC-1OCT21-75000-C-option
              min_time: '2022-05-30T16:00:00.005000000Z'
              max_time: '2022-07-04T08:00:00.001000000Z'
            - market: deribit-BTC-26NOV21-60000-C-option
              min_time: '2021-05-10T16:00:00.013000000Z'
              max_time: '2022-07-04T08:00:00.001000000Z'
          schema:
            $ref: '#/components/schemas/CatalogMarketGreeksResponse'
    CatalogMarketOrderbooks:
      description: List of market orderbooks statistics.
      content:
        application/json:
          example:
            data:
            - market: binance-1000BTTCUSDT-future
              min_time: '2022-01-26T03:00:00.000000000Z'
              max_time: '2022-04-11T08:00:00.000000000Z'
              depths:
              - depth: '30000'
                min_time: '2022-01-26T03:00:00.000000000Z'
                max_time: '2022-04-11T08:00:00.000000000Z'
            - market: binance-1000FLOKIUSDT-future
              min_time: '2023-05-06T16:00:00.000000000Z'
              max_time: '2023-09-08T11:00:00.000000000Z'
              depths:
              - depth: '30000'
                min_time: '2023-05-06T16:00:00.000000000Z'
                max_time: '2023-09-08T11:00:00.000000000Z'
          schema:
            $ref: '#/components/schemas/CatalogMarketOrderbooksResponse'
    IndexNotFound:
      content:
        application/json:
          example:
            error:
              type: bad_parameter
              message: Bad parameter 'indexes'. Value 'asdgwav' is not supported.
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Index not found.
    CatalogPairCandles:
      description: List of asset pair candles statistics.
      content:
        application/json:
          example:
            data:
            - pair: btc-eur
              frequencies:
              - frequency: 1m
                min_time: '2011-08-28T18:26:00.000000000Z'
                max_time: '2022-06-29T23:25:00.000000000Z'
              - frequency: 5m
                min_time: '2011-08-28T18:25:00.000000000Z'
                max_time: '2022-06-29T23:20:00.000000000Z'
              - frequency: 10m
                min_time: '2011-08-28T18:20:00.000000000Z'
                max_time: '2022-06-29T23:10:00.000000000Z'
              - frequency: 15m
                min_time: '2011-08-28T18:15:00.000000000Z'
                max_time: '2022-06-29T23:00:00.000000000Z'
              - frequency: 30m
                min_time: '2011-08-28T18:00:00.000000000Z'
                max_time: '2022-06-29T22:30:00.000000000Z'
              - frequency: 1h
                min_time: '2011-08-28T18:00:00.000000000Z'
                max_time: '2022-06-29T22:00:00.000000000Z'
              - frequency: 4h
                min_time: '2011-08-28T16:00:00.000000000Z'
                max_time: '2022-06-29T16:00:00.000000000Z'
              - frequency: 1d
                min_time: '2011-08-28T00:00:00.000000000Z'
                max_time: '2022-06-28T00:00:00.000000000Z'
            - pair: btc-usd
              frequencies:
              - frequency: 1m
                min_time: '2010-07-18T03:43:00.000000000Z'
                max_time: '2022-06-29T23:25:00.000000000Z'
              - frequency: 5m
                min_time: '2010-07-18T03:40:00.000000000Z'
[...]
