openapi: 3.0.2
info:
  title: Coin Metrics API v4 Blockchain Explorer Job Timeseries API
  description: '[Coin Metrics Homepage](https://coinmetrics.io/)<br/> [API Backward Compatibility Policy](https://docs.coinmetrics.io/access-our-data/api#backward-compatibility)<br/> [Python API Client](https://coinmetrics.github.io/api-client-python/site/index.html)<br/><br/>

    HTTP API root endpoint URL is `https://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/> WebSocket API root endpoint is `wss://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/><br/> The Community HTTP API root endpoint URL is `https://community-api.coinmetrics.io/v4`. API key is not required when accessing community endpoints. Available to the community under the [Creative Commons](https://creativecommons.org/licenses/by-nc/4.0/) license.

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->

    # Response headers

    Note that Coin Metrics API responses have a `CF-RAY` HTTP header e.g. `88a6ec1d2f930774-IAD` which can be used for diagnostic purposes. When raising Support requests, please ensure to provide the value of this header. '
  termsOfService: https://coinmetrics.io/api/terms
  contact:
    name: Coin Metrics Support
    url: https://coinmetrics.io/support/
    email: support@coinmetrics.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0
servers:
- url: https://api.coinmetrics.io/v4
- url: wss://api.coinmetrics.io/v4
- url: https://community-api.coinmetrics.io/v4
tags:
- name: Timeseries
  description: Endpoints for fetching metrics, market data, indexes and other time series data.
paths:
  /timeseries/asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Asset metrics
      description: "Returns requested metrics for specified assets.<br/><br/> Results for block by block metrics (`1b` frequency) are ordered by tuple `(asset, height, block_hash)`, all other metrics are ordered by tuple `(asset, time)`. You can change the sorting using `sort` query parameter.<br/><br/> Supported output formats are `json` (default), `json_stream` and `csv`. Use the `format` query parameter to override it.<br/> To fetch the next page of results use `next_page_url` JSON response field or `x-next-page-url` CSV HTTP header if present.<br/><br/> If multiple metrics are requested in the same time the strict policy for partially available metrics among requested ones is applied: <ul>\n  <li>missing metric name in the JSON response means that the metric is \"not a supported metric\" for the asset and frequency while some other requested metrics are supported.</li>\n  <li>`null` value of the metric means \"no data in the database\" while some other requested metrics have data.</li>\n</ul>"
      operationId: getTimeseriesAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/asset-metrics?assets=btc&metrics=PriceUSD,SplyBMXNtv&start_time=2020-02-29&end_time=2020-03-01&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/asset-metrics?assets=btc&metrics=PriceUSD,SplyBMXNtv&start_time=2020-02-29&end_time=2020-03-01&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_asset_metrics(assets="btc", metrics="PriceUSD,SplyBMXNtv", start_time="2020-02-29", end_time="2020-03-01", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/AssetMetricsAssetId'
      - $ref: '#/components/parameters/AssetMetrics'
      - $ref: '#/components/parameters/AssetMetricsFrequency'
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/StartTimeMutuallyExclusiveWithHeightAndHash'
      - $ref: '#/components/parameters/EndTimeMutuallyExclusiveWithHeightAndHash'
      - $ref: '#/components/parameters/StartHeightMutuallyExclusiveWithTimeAndHash'
      - $ref: '#/components/parameters/EndHeightMutuallyExclusiveWithTimeAndHash'
      - $ref: '#/components/parameters/StartHash'
      - $ref: '#/components/parameters/EndHash'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/MinConfirmations'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/LimitPerAsset'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NullAsZero'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IgnoreUnsupportedErrors'
      - $ref: '#/components/parameters/IgnoreForbiddenErrors'
      responses:
        '200':
          $ref: '#/components/responses/AssetMetrics'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/exchange-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange metrics
      description: Returns metrics for specified exchanges.<br/> Results are ordered by tuple `(exchange, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesExchangeMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/exchange-metrics?exchanges=binance&metrics=volume_reported_spot_usd_1d&start_time=2020-01-01&end_time=2020-01-04&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/exchange-metrics?exchanges=binance&metrics=volume_reported_spot_usd_1d&start_time=2020-01-01&end_time=2020-01-04&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_exchange_metrics(exchanges="binance", metrics="volume_reported_spot_usd_1d", start_time="2020-01-01", end_time="2020-01-04", paging_from="start", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/Exchanges'
      - $ref: '#/components/parameters/ExchangeMetricsParam'
      - $ref: '#/components/parameters/ExchangeMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/ExchangeSort'
      - $ref: '#/components/parameters/LimitPerExchange'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/ExchangeMetrics'
        '400':
          $ref: '#/components/responses/ExchangeNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/exchange-asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange-asset metrics
      description: Returns metrics for specified exchange-asset.<br/> Results are ordered by tuple `(exchange_asset, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesExchangeAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/exchange-asset-metrics?exchange_assets=binance-btc&metrics=volume_reported_spot_usd_1d&start_time=2021-10-04&end_time=2020-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/exchange-asset-metrics?exchange_assets=binance-btc&metrics=volume_reported_spot_usd_1d&start_time=2021-10-04&end_time=2020-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_exchange_asset_metrics(exchange_assets="binance-btc", metrics="volume_reported_spot_usd_1d", start_time="2021-10-04", end_time="2020-10-07", paging_from="start", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/ExchangeAssets'
      - $ref: '#/components/parameters/ExchangeAssetMetricsParam'
      - $ref: '#/components/parameters/ExchangeAssetMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/ExchangeAssetSort'
      - $ref: '#/components/parameters/LimitPerExchangeAsset'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/ExchangeAssetMetrics'
        '400':
          $ref: '#/components/responses/ExchangeAssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/exchange-pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange-pair metrics
      description: Returns metrics for specified exchange-pair.<br/> Results are ordered by tuple `(exchange_pair, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesExchangePairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/exchange-pair-metrics?exchange_pairs=binance-btc-usdt&metrics=volatility_implied_skew_delta_50_270d_expiration&start_time=2025-10-04&end_time=2025-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/exchange-pair-metrics?exchange_pairs=binance-btc-usdt&metrics=volatility_implied_skew_delta_50_270d_expiration&start_time=2025-10-04&end_time=2025-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_exchange_pair_metrics(exchange_pairs="binance-btc-usdt", metrics="volatility_implied_skew_delta_50_270d_expiration", start_time="2025-10-04", end_time="2025-10-07", paging_from="start", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/ExchangePairs'
      - $ref: '#/components/parameters/ExchangePairMetricsParam'
      - $ref: '#/components/parameters/ExchangePairMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerExchangePair'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/ExchangePairMetrics'
        '400':
          $ref: '#/components/responses/ExchangePairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market metrics
      description: Returns metrics for specified markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesMarketMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-metrics?markets=binance-BTCUSDT-future&metrics=liquidations_reported_future_buy_usd_5m&start_time=2022-01-19T20:00:00Z&end_time=2022-01-19T21:00:00Z&paging_from=start&frequency=5m&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-metrics?markets=binance-BTCUSDT-future&metrics=liquidations_reported_future_buy_usd_5m&start_time=2022-01-19T20:00:00Z&end_time=2022-01-19T21:00:00Z&paging_from=start&frequency=5m&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_metrics(markets="binance-BTCUSDT-future", metrics="liquidations_reported_future_buy_usd_5m", start_time="2022-01-19T20:00:00Z", end_time="2022-01-19T21:00:00Z", paging_from="start", frequency="5m").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/MarketMetricsParam'
      - $ref: '#/components/parameters/MarketMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/MarketMetricsSort'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IgnoreUnsupportedErrors'
      - $ref: '#/components/parameters/IgnoreForbiddenErrors'
      responses:
        '200':
          $ref: '#/components/responses/MarketMetrics'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Pair metrics
      description: Returns metrics for specified asset pairs.<br/> Results are ordered by tuple `(pair, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesPairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/pair-metrics?pairs=btc-usd&metrics=volume_trusted_spot_usd_1d&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/pair-metrics?pairs=btc-usd&metrics=volume_trusted_spot_usd_1d&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_pair_metrics(pairs="btc-usd", metrics="volume_trusted_spot_usd_1d", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/Pair'
      - $ref: '#/components/parameters/PairMetricsParam'
      - $ref: '#/components/parameters/PairMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/PairSort'
      - $ref: '#/components/parameters/LimitPerPair'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/PairMetrics'
        '400':
          $ref: '#/components/responses/PairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/pair-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Pair candles
      description: Returns candles for specified asset pairs.<br/> Results are ordered by tuple `(pair, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesPairCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/pair-candles?pairs=btc-usd&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/pair-candles?pairs=btc-usd&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/PairWithCandle'
      - $ref: '#/components/parameters/CandleFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerPairCandle'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/PairCandles'
        '400':
          $ref: '#/components/responses/PairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/protocol-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Protocol metrics
      description: Returns metrics for specified protocols.<br/> Results are ordered by tuple `(protocol, market)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesProtocolMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/protocol-metrics?protocols=aave_v3&markets=core-weth&chains=ethereum&metrics=supply_apy&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/protocol-metrics?protocols=aave_v3&markets=core-weth&chains=ethereum&metrics=supply_apy&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/Protocols'
      - $ref: '#/components/parameters/ProtocolChains'
      - $ref: '#/components/parameters/ProtocolMarkets'
      - $ref: '#/components/parameters/ProtocolFrequency'
      - $ref: '#/components/parameters/ProtocolMetrics'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/ProtocolMetricsResponse'
        '400':
          $ref: '#/components/responses/ProtocolNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/institution-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Institution metrics
      description: Returns metrics for specified institutions.<br/> Results are ordered by tuple `(institution, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesInstitutionMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/institution-metrics?institutions=grayscale&metrics=btc_total_assets&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/institution-metrics?institutions=grayscale&metrics=btc_total_assets&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_institution_metrics(institutions="grayscale", metrics="btc_total_assets", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/Institution'
      - $ref: '#/components/parameters/InstitutionMetricsParam'
      - $ref: '#/components/parameters/InstitutionMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/InstitutionSort'
      - $ref: '#/components/parameters/LimitPerInstitution'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/InstitutionMetrics'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-trades:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market trades
      description: Returns trades for specified markets.<br/> Results are ordered by tuple `(market, time, coin_metrics_id)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMarketTrades
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-trades?start_time=2015-01-08T20:55:00Z&end_time=2015-01-08T21:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-trades?start_time=2015-01-08T20:55:00Z&end_time=2015-01-08T21:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_trades(start_time="2015-01-08T20:55:00Z", end_time="2015-01-08T21:00:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/TradeMinConfirmations'
      responses:
        '200':
          $ref: '#/components/responses/MarketTrades'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-openinterest:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market open interest
      description: Returns open interest for specified futures markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.<br/><br/> <b>Note:</b> The `value_usd` field in this endpoint was previously calculated using hardcoded logic that no longer reflects current contract specifications across all exchanges.<br/><br/> To address this, we have deprecated the `value_usd` field and introduced new, more accurate metrics available via the `/timeseries/market-metrics` endpoint.<br/><br/> These two metrics should be used as a replacement for the `value_usd` field going forward:<br/> - `open_interest_reported_future_usd` to represent the notional value of open interest in U.S. dollars for futures markets<br/> - `open_interest_reported_option_notional_usd` to represent the notional value of open interest in U.S. dollars for options markets<br/><br/> We also introduced `open_interest_reported_option_market_value_usd` to represent the market value of open interest in U.S. dollars for options markets.
      operationId: getTimeseriesMarketOpenIntereset
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-openinterest?start_time=2020-08-05T23:00:00Z&end_time=2020-08-06T00:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-openinterest?start_time=2020-08-05T23:00:00Z&end_time=2020-08-06T00:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_openinterest(start_time="2020-08-05T23:00:00Z", end_time="2020-08-06T00:00:00Z", paging_from="start", markets="bitmex-XBTUSD-future").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/OpenInterestGranularity'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketOpenInterest'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-liquidations:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market liquidations
      description: Returns liquidations for specified futures markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.
      operationId: getTimeseriesMarketLiquidations
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-liquidations?start_time=2020-10-10T15:00:00Z&end_time=2020-10-10T16:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-liquidations?start_time=2020-10-10T15:00:00Z&end_time=2020-10-10T16:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_liquidations(start_time="2020-10-10T15:00:00Z", end_time="2020-10-10T16:00:00Z", paging_from="start", markets="bitmex-XBTUSD-future").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketLiquidations'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-funding-rates:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market funding rates
      description: Returns funding rates for specified futures markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.
      operationId: getTimeseriesMarketFundingRates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-funding-rates?start_time=2020-11-11T18:00:00Z&end_time=2020-11-11T19:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-funding-rates?start_time=2020-11-11T18:00:00Z&end_time=2020-11-11T19:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_funding_rates(start_time="2020-11-11T18:00:00Z", end_time="2020-11-11T19:00:00Z", paging_from="start", markets="bitmex-XBTUSD-future").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketFundingRates'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-funding-rates-predicted:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Predicted Market funding rates
      description: Returns predicted funding rates for specified futures markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.
      operationId: getTimeseriesMarketFundingRatesPredicted
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-funding-rates-predicted?start_time=2023-01-01&end_time=2023-01-02&paging_from=start&markets=deribit-XRP_USDC-PERPETUAL-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-funding-rates-predicted?start_time=2023-01-01&end_time=2023-01-02&paging_from=start&markets=deribit-XRP_USDC-PERPETUAL-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_funding_rates_predicted(start_time="2023-01-01", end_time="2023-01-02", paging_from="start", markets="deribit-XRP_USDC-PERPETUAL-future").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketFundingRatesPredicted'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-orderbooks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market orderbooks
      description: Returns orderbooks for specified markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMarketOrderbooks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-orderbooks?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-orderbooks?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_orderbooks(start_time="2020-06-08T21:00:00Z", end_time="2020-06-08T22:00:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/MarketOrderBooksAndQuotesGranularity'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/BookPageSize'
      - $ref: '#/components/parameters/BookDepth'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/OrderBookDataset'
      - $ref: '#/components/parameters/OrderBookStartWithSnapshot'
      responses:
        '200':
          $ref: '#/components/responses/MarketOrderBooks'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-quotes:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market quotes
      description: Returns quotes for specified markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMarketQuotes
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-quotes?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-quotes?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_quotes(start_time="2020-06-08T21:00:00Z", end_time="2020-06-08T22:00:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/MarketOrderBooksAndQuotesGranularity'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IncludeOneSided'
      responses:
        '200':
          $ref: '#/components/responses/MarketQuotes'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market candles
      description: Returns candles for specified markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/> Coin Metrics derives candles directly from trades. Candles are only generated if there are trades in the underlying interval. Therefore, gaps in candles data through time are normal and to be expected. To construct gapless candles, the client should fill forward candles through time, setting the open, high, low, and close to the close of the previous candle, setting the vwap to the vwap of the previous candle, and setting the volume to zero.
      operationId: getTimeseriesMarketCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-candles?start_time=2020-06-08T20:45:00Z&end_time=2020-06-08T20:50:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-candles?start_time=2020-06-08T20:45:00Z&end_time=2020-06-08T20:50:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_candles(start_time="2020-06-08T20:45:00Z", end_time="2020-06-08T20:50:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/CandleFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IgnoreUnsupportedErrors'
      - $ref: '#/components/parameters/IgnoreForbiddenErrors'
      responses:
        '200':
          $ref: '#/components/responses/MarketCandles'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-contract-prices:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market contract prices
      description: Returns contract prices for specified markets. This includes index price and mark price that are used by the exchange for settlement and risk management purposes.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesMarketContractPrices
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-contract-prices?start_time=2021-09-01T13:00:00Z&end_time=2021-09-01T14:00:00Z&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-contract-prices?start_time=2021-09-01T13:00:00Z&end_time=2021-09-01T14:00:00Z&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_contract_prices(start_time="2021-09-01T13:00:00Z", end_time="2021-09-01T14:00:00Z", paging_from="start", markets="deribit-ETH-25MAR22-1200-P-option").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/ContractPricesGranularity'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketContractPrices'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-implied-volatility:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market implied volatility
      description: Returns implied volatility for specified markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/> Implied volatility is calculated using an options pricing model. It represents the market's expectation of future volatility and is the value, when input to an options pricing model, that makes the actual options price equal to its theoretical price.
      operationId: getTimeseriesMarketImpliedVolatility
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-implied-volatility?start_time=2021-09-05T13:00:00Z&end_time=2021-09-05T14:00:00Z&paging_from=start&markets=deribit-ETH-10SEP21-3200-P-option&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-implied-volatility?start_time=2021-09-05T13:00:00Z&end_time=2021-09-05T14:00:00Z&paging_from=start&markets=deribit-ETH-10SEP21-3200-P-option&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_implied_volatility(start_time="2021-09-05T13:00:00Z", end_time="2021-09-05T14:00:00Z", paging_from="start", markets="deribit-ETH-10SEP21-3200-P-option").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/ImpliedVolatilityGranularity'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketImpliedVolatility'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-greeks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market greeks
      description: Returns greeks for option markets.<br/> Results are ordered by tuple `(market, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/> Option greeks represent the sensitivity of the price of an options contract with respect to changes in its underlying parameters. Greeks are used in risk management and hedging so that market participants can achieve their desired exposure.
      operationId: getTimeseriesMarketGreeks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-greeks?start_time=2021-09-01&end_time=2021-09-02&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-greeks?start_time=2021-09-01&end_time=2021-09-02&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_greeks(start_time="2021-09-01", end_time="2021-09-02", paging_from="start", markets="deribit-ETH-25MAR22-1200-P-option").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/GreeksGranularity'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketGreeks'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/index-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index candles
      description: Returns candles for specified indexes.<br/> Results are ordered by tuple `(index, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesIndexCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/index-candles?start_time=2022-06-28&end_time=2022-06-30&paging_from=start&indexes=CMBIBTC&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/index-candles?start_time=2022-06-28&end_time=2022-06-30&paging_from=start&indexes=CMBIBTC&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_index_candles(start_time="2022-06-28", end_time="2022-06-30", paging_from="start", indexes="CMBIBTC", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/IndexIdWithCandle'
      - $ref: '#/components/parameters/CandleFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerIndex'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/IndexCandles'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/index-levels:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index levels
      description: Returns levels for specified indexes.<br/> Results are ordered by tuple `(index, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesIndexLevels
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/index-levels?start_time=2020-01-01&end_time=2020-01-02&paging_from=start&indexes=CMBIBTC&frequency=1d-ny-close&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/index-levels?start_time=2020-01-01&end_time=2020-01-02&paging_from=start&indexes=CMBIBTC&frequency=1d-ny-close&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_index_levels(start_time="2020-01-01", end_time="2020-01-02", paging_from="start", indexes="CMBIBTC", frequency="1d-ny-close").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/IndexId'
      - $ref: '#/components/parameters/IndexFrequency'
      - $ref: '#/components/parameters/IndexLevelsGranularity'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerIndex'
      - $ref: '#/components/parameters/IncludeVerification'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/IndexLevels'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - api_key: []
  /timeseries/index-constituents:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index constituents
      description: Returns constituents and weights for specified indexes.<br/> Results are ordered by tuple `(index, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesIndexConstituents
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/index-constituents?start_time=2020-05-01T22:00:00Z&end_time=2020-05-01T22:00:00Z&paging_from=start&indexes=CMBIBTC&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/index-constituents?start_time=2020-05-01T22:00:00Z&end_time=2020-05-01T22:00:00Z&paging_from=start&indexes=CMBIBTC&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_index_constituents(start_time="2020-05-01T22:00:00Z", end_time="2020-05-01T22:00:00Z", paging_from="start", indexes="CMBIBTC").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/IndexId'
      - $ref: '#/components/parameters/IndexConstituentsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/IndexConstituents'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - api_key: []
  /timeseries/mining-pool-tips-summary:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Mining pool tips summary (experimental)
      description: Returns mining pool tips summaries for the specified assets.<br/> Lists last tips that we saw in all mining pools that were active during the past hour.<br/> A new summary is created when we detect any change in current tips across all mining pools.<br/> This endpoint is useful for those who want to track forks and reorgs by visualizing the distribution of currently active tips between mining pools.<br/> Results are ordered by tuple `(asset, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMiningPoolTipsSummary
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/mining-pool-tips-summary?assets=btc&page_size=3&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/mining-pool-tips-summary?assets=btc&page_size=3&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_mining_pool_tips_summary(assets="btc", page_size="3").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MiningPoolTipsSummary'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/asset-chains:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Asset chains (experimental)
      description: Returns the chains of blocks for the specified assets.<br/> Lists all the chains that were active in the blockchain during the time that's enough to produce the number of blocks considered as an industry-standard number of confirmations.<br/> A new entry is created when we detect any new block anywhere in the chain.<br/> This endpoint is useful for those who want to quickly detect reorganizations or visualize currently active chains.<br/> If there are two or more active chains, then the response will contain the chain fragments starting from their common ancestor block. Otherwise, if there is a single active chain - only the blockchain tip is returned.<br/> The reorganization depth is measured as a number of consecutive blocks that were disconnected from the common ancestor block.<br/> Results are ordered by tuple `(asset, time)`.<br/> To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getAssetChains
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/AssetChains'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/mempool-feerates:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Mempool feerates (deprecated)
      description: Returns mempool feerates for the specified assets.<br/> This endpoint is useful for those who want to explore the history of the feerate distribution and potentially select the time period with the lowest commissions.<br/> Results are ordered by `(asset, time)`.<br/> To fetch the next page of results use the `next_page_url` JSON response field.
      operationId: getMempoolFeerates
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/MempoolFeeratesPageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MempoolFeerates'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BlockchainForbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/asset-alerts:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Asset alerts (deprecated)
      description: Returns asset alerts for the specified assets.<br/> This endpoint is useful for those who wants to track the breaches in the particular asset's Key Risk Indicator thresholds.<br/> An asset alert is issued once an alerting metric value either breaches it's Key Risk Indicator threshold or returns back to normal for a predefined period of time.<br/> Results are ordered by `(asset, time, alert)`.<br/> To fetch the next page of results use the `next_page_url` JSON response field.
      operationId: getAssetAlerts
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/AssetAlertId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/AssetAlertIncludeHeartbeats'
      responses:
        '200':
          $ref: '#/components/responses/AssetAlerts'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/defi-balance-sheets:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: DeFi balance sheets (experimental)
      description: Returns Defi Balance Sheet records for specified DeFi protocols.</br> The data is being updated on an end-of-day frequency.</br> Results are ordered by tuple (`defi_protocol`, `block_height`).</br> To fetch the next page of results use the `next_page_url` JSON response field.
      operationId: getDefiBalanceSheets
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/defi-balance-sheets?defi_protocols=aave_v2_eth&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/defi-balance-sheets?defi_protocols=aave_v2_eth&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_defi_balance_sheets(defi_protocols="aave_v2_eth").to_list()

          print(response)

          '
      tags:
      - Timeseries
      parameters:
      - $ref: '#/components/parameters/DefiProtocols'
      - $ref: '#/components/parameters/StartTimeMutuallyExclusiveWithHeight'
      - $ref: '#/components/parameters/EndTimeMutuallyExclusiveWithHeight'
      - $ref: '#/components/parameters/StartHeightMutuallyExclusiveWithTime'
      - $ref: '#/components/parameters/EndHeightMutuallyExclusiveWithTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/DefiBalanceSheets'
        '400':
          $ref: '#/components/responses/DefiProtocolNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
components:
  parameters:
    PairSort:
      description: How results will be sorted. Metrics are sorted by `(pair, time)` by default. If you want to sort `1d` metrics by `(time, pair)` you should choose `time` as value for the `sort` parameter.<br/> Sorting by `time` is useful if you request metrics for a set of asset pairs.
      in: query
      name: sort
      schema:
        default: pair
        enum:
        - pair
        - time
        type: string
    MarketMetricsSort:
      description: How results will be sorted. Metrics are sorted by `(market, time)` by default. If you want to sort `1d` metrics by `(time, market)` you should choose `time` as value for the `sort` parameter.<br/> Sorting by `time` is useful if you request metrics for a set of markets.
      in: query
      name: sort
      schema:
        default: market
        enum:
        - market
        - time
        type: string
    EndTimeMutuallyExclusiveWithHeightAndHash:
      description: 'End of the time interval.<br/> This field refers to the `time` field in the response.<br/> Multiple formats of ISO 8601 are supported: `2006-01-20T00:00:00Z`, `2006-01-20T00:00:00.000Z`, `2006-01-20T00:00:00.123456Z`, `2006-01-20T00:00:00.123456789Z`, `2006-01-20`, `20060120`.<br/> Inclusive by default. Mutually exclusive with `end_height` and `end_hash`.<br/> UTC timezone by default. `Z` suffix is optional and `timezone` parameter has a priority over it.<br/> If `end_time` is omitted, response will include time series up to the **latest** time available.'
      in: query
      name: end_time
      schema:
        type: string
    LimitPerExchangeAsset:
      description: How many entries per exchange_asset result should contain. For example, this combination of parameters `exchange_assets=binance-btc,coinbase-eth&metrics=volume_trusted_spot_usd_1h&limit_per_exchange_asset=1` returns the latest `volume_trusted_spot_usd_1h` values for `binance-btc` and `coinbase-eth`.
      in: query
      name: limit_per_exchange_asset
      schema:
        type: integer
        format: int32
    Status:
      description: Which metric values do you want to see. Applicable only for "reviewable" metrics. You can find them in the `/catalog-v2/asset-metrics` endpoint.
      in: query
      name: status
      schema:
        default: all
        enum:
        - all
        - flash
        - reviewed
        - revised
        type: string
    LimitPerExchangePair:
      description: How many entries per exchange_pair result should contain. For example, this combination of parameters `exchange_pairs=binance-btc-usdt,coinbase-eth-usd&metrics=volatility_implied_skew_delta_05_1d_expiration&limit_per_exchange_pair=1` returns the latest `volatility_implied_skew_delta_05_1d_expiration` values for `binance-btc-usdt` and `coinbase-eth-usd`.
      in: query
      name: limit_per_exchange_pair
      schema:
        type: integer
        format: int32
    Exchanges:
      description: Comma separated list of exchange names or asterisk (*) for all supported exchanges.
      examples:
        list-example:
          summary: the list of exchanges
          value: coinbase,binance,etc
        asterisk-example:
          summary: all supported exchanges
          value: '*'
      in: query
      name: exchanges
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    AssetMetricsFrequency:
      description: Frequency of the metrics. Supported values are `1b` (block by block), `1s` (one second), `1m` (one minute), `5m` (five minutes), `10m` (ten minutes), `1h` (one hour), `1d` (one day), `1d-ny-close` (one day at New York close time). Please refer to the `/catalog-v2/asset-metrics` endpoint for the full list.<br/> Use the [/catalog-all-v2/asset-metrics](#operation/getCatalogAllV2AssetMetrics) endpoint for the full list of supported frequencies per asset-metric pair.
      in: query
      name: frequency
      schema:
        default: 1d
        example: 1b
        type: string
    LimitPerExchange:
      description: How many entries per institution result should contain. For example, this combination of parameters `exchanges=binance,coinbase&metrics=volume_trusted_spot_usd_1h&limit_per_exchange=1` returns the latest `volume_trusted_spot_usd_1h` values for `binance` and `coinbase`.
      in: query
      name: limit_per_exchange
      schema:
        type: integer
        format: int32
    ContractPricesGranularity:
      description: Downsampling granularity of market contract prices. Supported values are `raw`, `1m`, `1h`, and `1d`.
      in: query
      name: granularity
      schema:
        default: raw
        type: string
        enum:
        - raw
        - 1m
        - 1h
        - 1d
    IncludeVerification:
      description: If set to true, includes information about verification.
      in: query
      name: include_verification
      required: false
      schema:
        type: boolean
        default: false
    InstitutionSort:
      description: 'How results will be sorted. Metrics are sorted by `(institution, time)` by default. If you want to sort `1d` metrics by `(time, institution)` you should choose `time` as value for the `sort` parameter.<br/> Sorting by `time` is useful if you request metrics for a set of institutions.<br/> Note: sorting by `time` is not supported when wildcards are used.'
      in: query
      name: sort
      schema:
        default: institution
        enum:
        - institution
        - time
        type: string
    EndHeightMutuallyExclusiveWithTime:
      description: The end height indicates the ending block height for the set of data that are returned.<br/> Inclusive by default. Mutually exclusive with `end_time`.
      in: query
      name: end_height
      schema:
        type: integer
        format: int64
        minimum: 0
    Sort:
      description: How results will be sorted. Metrics with `1b` frequency are sorted by `(asset, height, block_hash)` tuples by default. Metrics with other frequencies are sorted by `(asset, time)` by default. If you want to sort `1d` metrics by `(time, asset)` you should choose `time` as value for the `sort` parameter.<br/> Sorting by `time` is useful if you request metrics for a set of assets.
      in: query
      name: sort
      schema:
        default: asset
        enum:
        - asset
        - height
        - time
        type: string
    OrderBookDataset:
      description: "Logical order book dataset to return.<br/><br/> `snapshots` (default) returns snapshot rows only.<br/><br/> `updates` returns Book Streams snapshot/update rows for migrated exchanges.<br/><br/> Caveats:<br/> <ul>\n    <li>`dataset=updates` is currently supported for `full_book` and `30000` depths, `raw` granularity, `json_stream` format, `paging_from=start`, and migrated exchanges only.</li>\n    <li>When the `updates` dataset is requested, there are no guarantees on how snapshots are placed inside the data. Snapshots can appear at arbitrary timestamps and at irregular intervals.</li>\n    <li>Clients should reset their order book state on every snapshot row, not only on the first one. Snapshots may be emitted mid-stream, for example when the upstream feed is switched, and can carry book state that differs from prior updates. Treating every snapshot as a full state replacement is always safe while skipping snapshots is not.</li>\n    <li>When the `updates` dataset is requested, the response may contain redundant snapshots that do not change order book state and are there for state synchronization. Such redundant snapshots have the same timestamp and `coin_metrics_id` as the previous row. Clients may use this to detect redundant snapshots, but the safe default is still to reset state on every snapshot.</li>\n</ul>"
      in: query
      name: dataset
      schema:
        type: string
        enum:
        - snapshots
        - updates
        default: snapshots
    Format:
      description: Format of the response.
      in: query
      name: format
      schema:
        enum:
        - json
        - csv
        type: string
        default: json
    ResponseFormat:
      description: Format of the response. Supported values are `json`, `json_stream`, `csv`.
      in: query
      name: format
      schema:
        enum:
        - json
        - json_stream
        - csv
        type: string
        default: json
    ExchangePairMetricsParam:
      description: Comma separated metrics to request time series data for.<br/> Information on all available metrics can be found on page https://coverage.coinmetrics.io/exchange-pair-metrics.<br/> Use the [/catalog-all-v2/exchange-pair-metrics](#operation/getCatalogAllV2ExchangePairMetrics) endpoint for the full list of supported metrics per exchange-pair combination.
      in: query
      name: metrics
      required: true
      schema:
        example:
        - volatility_implied_put_delta_50_1y_expiration
        - volatility_implied_skew_delta_05_1d_expiration
        type: array
        items:
          type: string
      explode: false
    MinConfirmations:
      description: Specifies how many blocks behind the chain tip block by block metrics (`1b` frequency) are based on. Default for `btc` is `2` and `99` for `eth`. For example, a `min_confirmations` of `0` means metrics are being calculated for the block at the tip of the chain (the latest block received by our node) whereas a `min_confirmations` of `6` means that metrics are being applied to the block that is `6` blocks behind the chain tip (i.e., the 7th block if the chain tip is block 1).
      in: query
      name: min_confirmations
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 99
    BookPageSize:
      description: Number of items per single page of results. Maximum value for unlimited order books is 100.<br/> The value of this parameter is ignored if the endpoint supports the `format` parameter and its value is set to `json_stream`.
      in: query
      name: page_size
      schema:
        default: 100
        type: integer
        format: int32
        minimum: 1
        maximum: 10000
    ImpliedVolatilityGranularity:
      description: Downsampling granularity of market implied volatility. Supported values are `raw`, `1m`, `1h`, and `1d`.
      in: query
      name: granularity
      schema:
        default: raw
        type: string
        enum:
        - raw
        - 1m
        - 1h
        - 1d
    PagingFrom:
      description: Where does the first page start, at the start of the interval or at the end.<br/> The value of this parameter is ignored if the endpoint supports the `format` parameter and its value is set to `json_stream`.
      in: query
      name: paging_from
      schema:
        default: end
        enum:
        - start
        - end
        type: string
        format: PagingFrom
    PairWithCandle:
      description: Comma separated list of asset pairs or patterns like `btc-*`, or `*-btc`.<br/> Use the [/catalog-all-v2/pair-candles](#operation/getCatalogAllV2PairCandles) endpoint for the full list of supported asset pairs.
      in: query
      name: pairs
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    Pretty:
      description: Human-readable formatting of JSON responses.
      in: query
      name: pretty
      schema:
        type: boolean
        default: false
    StartHeightMutuallyExclusiveWithTime:
      description: The start height indicates the beginning block height for the set of data that are returned.<br/> Inclusive by default. Mutually exclusive with `start_time`.
      in: query
      name: start_height
      schema:
        type: integer
        format: int64
        minimum: 0
    EndInclusive:
      description: Inclusive or exclusive corresponding `end_*` parameters.
      in: query
      name: end_inclusive
      schema:
        default: true
        type: boolean
    ExchangeAssets:
      description: Comma separated list of exchange-asset pairs or patterns like `exchange-*` or `*-asset`.
      in: query
      name: exchange_assets
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    IgnoreForbiddenErrors:
      description: Ignore "forbidden" errors for the items you currently don't have access to.
      in: query
      name: ignore_forbidden_errors
      schema:
        type: boolean
        default: false
    LimitPerInstitution:
      description: How many entries per institution result should contain. For example, this combination of parameters `institutions=institution1,institution2&metrics=total_assets&limit_per_institution=1` returns the latest `total_assets` values for `institution1` and `institution2`.
      in: query
      name: limit_per_institution
      schema:
        type: integer
        format: int32
    IndexFrequency:
      description: Frequency of the index. Supported values are `1s`, `15s`, `1h`, `1d-ny-close`, `1d-sg-close`, `1d`, `1d-HH:00`.<br/> Use the [/catalog-all-v2/index-levels](#operation/getCatalogAllV2IndexLevels) endpoint for the full list of supported frequencies per index.
      in: query
      name: frequency
      schema:
        default: 1d
        type: string
    AssetMetrics:
      description: Comma separated metrics to request time series data for.<br/> Information on all available metrics can be found on page https://coverage.coinmetrics.io/asset-metrics-v2.<br/> Use the [/catalog-all-v2/asset-metrics](#operation/getCatalogAllV2AssetMetrics) endpoint for the full list of supported metrics per asset.
      in: query
      name: metrics
      required: true
      schema:
        example:
        - AdrActCnt
        - BlkHgt
        type: array
        items:
          type: string
      explode: false
    StartHeightMutuallyExclusiveWithTimeAndHash:
      description: The start height indicates the beginning block height for the set of data that are returned.<br/> Inclusive by default. Mutually exclusive with `start_time` and `start_hash`.
      in: query
      name: start_height
      schema:
        type: integer
        format: int64
        minimum: 0
    EndTimeMutuallyExclusiveWithHeight:
      description: 'End of the time interval.<br/> This field refers to the `time` field in the response.<br/> Multiple formats of ISO 8601 are supported: `2006-01-20T00:00:00Z`, `2006-01-20T00:00:00.000Z`, `2006-01-20T00:00:00.123456Z`, `2006-01-20T00:00:00.123456789Z`, `2006-01-20`, `20060120`.<br/> Inclusive by default. Mutually exclusive with `end_height`.<br/> UTC timezone by default. `Z` suffix is optional and `timezone` parameter has a priority over it.<br/> If `end_time` is omitted, response will include time series up to the **latest** time available.'
      in: query
      name: end_time
      schema:
        type: string
    Institution:
      description: 'Comma separated list of institutions, or wildcard (*) for all supported institutions.<br/> Note: the wildcards are not supported when `sort` parameter is set to `time`.<br/> Use the [/catalog-all-v2/institution-metrics](#operation/getCatalogAllV2InstitutionMetrics) endpoint for the full list of supported institutions.'
      in: query
      name: institutions
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    MarketId:
      description: Comma separated list of markets or market patterns like `exchange-*` or `exchange-*-spot` or `*USDT-future`.<br/> Use a corresponding `/catalog-all-v2/market-{dataType}` endpoint for the full list of supported markets for a given data type.
      in: query
      name: markets
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    Pair:
      description: Comma separated list of asset pairs or patterns like `btc-*`, or `*-btc`.<br/> Use a corresponding `/catalog-all-v2/pair-{dataType}` endpoint for the full list of supported pairs for a given data type.
      in: query
      name: pairs
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    DefiProtocols:
      description: Comma separated list of DeFi protocols like `aave_v2_eth` or protocol patterns like `aave_v2_*` or `aave_*_eth` or `*_eth`.
      in: query
      name: defi_protocols
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
    MarketOrderBooksAndQuotesGranularity:
      description: Downsampling granularity of market order books and quotes. Supported values are `raw`, `1m`, `1h`, and `1d`.
      in: query
      name: granularity
      schema:
        default: raw
        type: string
        enum:
        - raw
        - 1m
        - 1h
        - 1d
    ExchangeSort:
      description: How results will be sorted. Metrics are sorted by `(exchange, time)` by default. If you want to sort `1d` metrics by `(time, exchange)` you should choose `time` as value for the `sort` parameter.<br/> Sorting by `time` is useful if you request metrics for a set of exchanges.
      in: query
      name: sort
      schema:
        default: exchange
        enum:
        - exchange
        - time
        type: string
    NullAsZero:
      description: Nulls are represented as zeros in the response.
      in: query
      name: null_as_zero
      schema:
        type: boolean
        default: false
    LimitPerMarket:
      description: How many entries per market result should contain. It is useful when multiple markets are requested.
      in: query
      name: limit_per_market
      schema:
        type: integer
        format: int32
    PairMetricsParam:
      description: Comma separated metrics to request time series data for.<br/> Information on all available metrics can be found on page https://coverage.coinmetrics.io/pair-metrics-v2.<br/> Use the [/catalog-all-v2/pair-metrics](#operation/getCatalogAllV2PairMetrics) endpoint for the full list of supported metrics per pair.
      in: query
      name: metrics
      required: true
      schema:
        example:
        - volume_trusted_spot_usd_1h
        - volume_trusted_spot_usd_1d
        type: array
        items:
          type: string
      explode: false
    StartTime:
      description: 'Start of the time interval.<br/> This field refers to the `time` field in the response.<br/> Multiple formats of ISO 8601 are supported: `2006-01-20T00:00:00Z`, `2006-01-20T00:00:00.000Z`, `2006-01-20T00:00:00.123456Z`, `2006-01-20T00:00:00.123456789Z`, `2006-01-20`, `20060120`.<br/> Inclusive by default.<br/> UTC timezone by default. `Z` suffix is optional and `timezone` parameter has a priority over it.<br/> If `start_time` is omitted, response will include time series from the **earliest** time available.'
      in: query
      name: start_time
      schema:
        type: string
    PageSize:
      description: Number of items per single page of results.<br/> The value of this parameter is ignored if the endpoint supports the `format` parameter and its value is set to `json_stream`.
      in: query
      name: page_size
      schema:
        default: 100
        type: integer
        format: int32
        minimum: 1
        maximum: 10000
    TradeMinConfirmations:
      description: Specifies how many blocks behind the chain tip trades are based on. Default is `2`. For example, a `min_confirmations` of `0` means trades are being collected for all blocks up to the block at the tip of the chain (the latest block received by our node) whereas a `min_confirmations` of `6` means that trades are being collected for all blocks up to the block that is `6` blocks behind the chain tip (i.e., the 7th block if the chain tip is block 1). Currently available only for DeFi markets.
      in: query
      name: min_confirmations
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 99
        default: 2
    EndHash:
      description: The end hash indicates the ending block height for the set of data that are returned.<br/> Inclusive by default. Mutually exclusive with `end_time` and `end_height`.
      in: query
      name: end_hash
      schema:
        type: string
    LimitPerAsset:
      description: How many entries per asset result should contain. For example, this combination of parameters `assets=btc,eth&metrics=ReferenceRate&limit_per_asset=1` returns the latest `ReferenceRate` values for `btc` and `eth`.
      in: query
      name: limit_per_asset
      schema:
        type: integer
        format: int32
    IndexIdWithCandle:
      description: Comma separated list of indexes, or patterns like `CMBI*`, or `*BTC`.<br/> Use the [/catalog-all-v2/index-candles](#operation/getCatalogAllV2IndexCandles) endpoint for the full list of supported indexes.
      in: query
      name: indexes
      required: true
      schema:
        example: CMBIBE
        type: array
        items:
          type: string
      explode: false
    PagingFromWithStartByDefault:
      description: Where does the first page start, at the start of the interval or at the end.<br/> The value of this parameter is ignored if the endpoint supports the `format` parameter and its value is set to `json_stream`.
      in: query
      name: paging_from
      schema:
        default: start
        enum:
        - start
        - end
        type: string
        format: PagingFrom
    IndexId:
      description: Comma separated list of indexes, or patterns like `CMBI*`, or `*BTC`.<br/> Use the [/catalog-all-v2/index-levels](#operation/getCatalogAllV2IndexLevels) endpoint for the full list of supported indexes.
      in: query
      name: indexes
      required: true
      schema:
        example: CMBIBE
        type: array
        items:
          type: string
      explode: false
    ProtocolMetrics:
      description: Comma separated list of protocol metrics like `supply_apy`.
      in: query
      name: metrics
      schema:
        type: array
        items:
          type: string
      explode: false
    MarketMetricsParam:
      description: Comma separated metrics to request time series data for.<br/> Use the [/catalog-all-v2/market-metrics](#operation/getCatalogAllV2MarketMetrics) endpoint for the full list of supported metrics per exchange-asset combination.
      in: query
      name: metrics
      required: true
      schema:
        example:
        - liquidations_reported_future_buy_units_1d
        - liquidations_reported_future_sell_units_1d
        type: array
        items:
          type: string
      explode: false
    ExchangeMetricsFrequency:
      description: Frequency of the exchange metrics. Supported values are `1h`, `1d`.
      in: query
      name: frequency
      schema:
        default: 1d
        type: string
    IndexConstituentsFrequency:
      description: Frequency of index constituents. Supported values are `1h`, `1d`, `1d-ny-close`, `1d-ny-midday`, `1d-sg-close`.<br/> If omitted, only changed constituents are returned.
      in: query
      name: frequency
      schema:
        type: string
    MempoolFeeratesPageSize:
      description: Number of mempool feerate snapshots per single page of results.
      in: query
      name: page_size
      schema:
        default: 10
        type: integer
        format: int32
        minimum: 1
        maximum: 200
    ProtocolMarkets:
      description: Comma separated list of protocol markets like `core-weth` or `steakusdc`.
      in: query
      name: markets
      schema:
        type: array
        items:
          type: string
      explode: false
    ProtocolChains:
      description: Comma separated list of protocol chains like `ethereum` or `base`.
      in: query
      name: chains
      schema:
        type: array
        items:
          type: string
      explode: false
    StartTimeMutuallyExclusiveWithHeightAndHash:
      description: 'Start of the time interval.<br/> This field refers to the `time` field in the response.<br/> Multiple formats of ISO 8601 are supported: `2006-01-20T00:00:00Z`, `2006-01-20T00:00:00.000Z`, `2006-01-20T00:00:00.123456Z`, `2006-01-20T00:00:00.123456789Z`, `2006-01-20`, `20060120`.<br/> Inclusive by default. Mutually exclusive with `start_height` and `start_hash`.<br/> UTC timezone by default. `Z` suffix is optional and `timezone` parameter has a priority over it.<br/> If `start_time` is omitted, response will include time series from the **earliest** time available.'
      in: query
      name: start_time
      schema:
        type: string
    IndexLevelsGranularity:
      description: Downsampling granularity for the data of a given native frequency. Granularity applied to external indexes only. Ignored for the indexes calculated by Coin Metrics. Possible values are `raw`, `1d-ny-close`, `1d-ny-close-last-second`, `1d-ldn-close`, `1d-ldn-close-last-second`, `1d-sg-close`, `1d-sg-close-last-second`, or custom offsets (e.g., `1d-16:00`).
      in: query
[...]
