openapi: 3.0.2
info:
  title: Coin Metrics API v4 Blockchain Explorer Job Jobs API
  description: '[Coin Metrics Homepage](https://coinmetrics.io/)<br/> [API Backward Compatibility Policy](https://docs.coinmetrics.io/access-our-data/api#backward-compatibility)<br/> [Python API Client](https://coinmetrics.github.io/api-client-python/site/index.html)<br/><br/>

    HTTP API root endpoint URL is `https://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/> WebSocket API root endpoint is `wss://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/><br/> The Community HTTP API root endpoint URL is `https://community-api.coinmetrics.io/v4`. API key is not required when accessing community endpoints. Available to the community under the [Creative Commons](https://creativecommons.org/licenses/by-nc/4.0/) license.

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->

    # Response headers

    Note that Coin Metrics API responses have a `CF-RAY` HTTP header e.g. `88a6ec1d2f930774-IAD` which can be used for diagnostic purposes. When raising Support requests, please ensure to provide the value of this header. '
  termsOfService: https://coinmetrics.io/api/terms
  contact:
    name: Coin Metrics Support
    url: https://coinmetrics.io/support/
    email: support@coinmetrics.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0
servers:
- url: https://api.coinmetrics.io/v4
- url: wss://api.coinmetrics.io/v4
- url: https://community-api.coinmetrics.io/v4
tags:
- name: Jobs
  description: Jobs API endpoints
paths:
  /jobs:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Get job by ID
      description: Returns job details by job ID. If job is not found empty result is returned.
      operationId: getJobById
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/JobIds'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/IncludeJobWarnings'
      x-codeSamples:
      - label: Shell
        source: '# Gets job details by ID

          curl --compressed "https://api.coinmetrics.io/v4/jobs?ids=ZjRjZDE2N2EtYzljYy00MjQ5LTk4ZWYtOTlkZDljZTE1ZDU3OjgzNTZkODQyLTA5ODMtNGM2NC1hMGE5LWY5MzBhZTMxODFiZg&api_key=<your_key>"

          '
      - label: Python
        source: '# Gets job details by ID

          import requests

          response = requests.get(''https://api.coinmetrics.io/v4/jobs?ids=ZjRjZDE2N2EtYzljYy00MjQ5LTk4ZWYtOTlkZDljZTE1ZDU3OjgzNTZkODQyLTA5ODMtNGM2NC1hMGE5LWY5MzBhZTMxODFiZg&api_key=<your_key>'').json()

          print(response)

          '
      responses:
        '200':
          $ref: '#/components/responses/JobsDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BlockchainForbidden'
      security:
      - api_key: []
components:
  parameters:
    IncludeJobWarnings:
      description: Flag to include warnings generated by job execution in the response.
      in: query
      name: include_warnings
      schema:
        type: boolean
        default: false
    JobIds:
      description: Job identifier.
      in: query
      name: ids
      required: true
      schema:
        type: string
    Pretty:
      description: Human-readable formatting of JSON responses.
      in: query
      name: pretty
      schema:
        type: boolean
        default: false
  schemas:
    JobDetails:
      type: object
      properties:
        id:
          description: Job ID
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        creation_time:
          description: Job creation time. Returned for all statuses.
          type: string
        completion_time:
          description: Job completion time. Returned for the "completed", "failed" and "expired" statuses.
          type: string
        expiration_time:
          description: Results expiration time. Returned for the "completed" and "expired" statuses.
          type: string
        error:
          description: Error. Returned only for "failed" status.
          allOf:
          - $ref: '#/components/schemas/ErrorObject'
        results:
          description: Array with results of the job execution. Returned only for the "completed" status.
          type: array
          items:
            $ref: '#/components/schemas/JobResult'
        warnings:
          description: Warnings generated by the job execution. Returned only for the `completed` status and if `include_warnings` is set to true.
          type: array
          items:
            type: string
      required:
      - id
      - status
      - creation_time
    JobResult:
      type: object
      properties:
        url:
          description: Job result URL
          type: string
      required:
      - url
    ErrorObject:
      properties:
        type:
          description: Error type string. Can be used for error identification.
          type: string
        message:
          description: Human-friendly error description. Can be amended without prior notification. Do not use for error identification in your code.
          type: string
      required:
      - type
      - description
      type: object
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
      required:
      - error
      type: object
    JobsDetails:
      type: array
      items:
        $ref: '#/components/schemas/JobDetails'
    JobsDetailsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JobsDetails'
      required:
      - data
    JobStatus:
      type: string
      description: Job status.
      enum:
      - running
      - completed
      - failed
      - expired
  responses:
    Unauthorized:
      description: Requested resource requires authorization.
      content:
        application/json:
          examples:
            unauthorized:
              summary: Unauthorized error response.
              value:
                error:
                  type: unauthorized
                  message: Requested resource requires authorization.
            wrong_credentials:
              summary: Wrong credentials error response.
              value:
                error:
                  type: wrong_credentials
                  message: Supplied credentials are not valid.
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    JobsDetails:
      description: Jobs details.
      content:
        application/json:
          example:
            data:
            - id: ZjRjZDE2N2EtYzljYy00MjQ5LTk4ZWYtOTlkZDljZTE1ZDU3OjgzNTZkODQyLTA5ODMtNGM2NC1hMGE5LWY5MzBhZTMxODFiZg
              status: completed
              results:
              - url: https://async-job-results-0000.coinmetrics.io/6e88ba1c-3c92-4e76-bb11-0a99eecf8956.gz
              creation_time: '2023-01-04T00:00:00.000000000Z'
              completion_time: '2023-01-05T00:00:00.000000000Z'
              expiration_time: '2023-01-06T00:00:00.000000000Z'
          schema:
            $ref: '#/components/schemas/JobsDetailsResponse'
    BlockchainForbidden:
      content:
        application/json:
          example:
            error:
              type: forbidden
              message: Requested resource is not available with supplied credentials.
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Requested resource is not available with supplied credentials.
  securitySchemes:
    api_key:
      description: Coin Metrics API key can be specified as `?api_key=` query parameter.
      in: query
      name: api_key
      type: apiKey
x-tagGroups:
- name: General
  tags:
  - Rate limits
- name: Reference Data
  tags:
  - Reference Data
  - Profile
  - Taxonomy
  - Taxonomy Metadata
- name: Catalog
  tags:
  - Catalog
  - Full catalog
  - Catalog v2
  - Full catalog v2
- name: Timeseries
  tags:
  - Timeseries
  - Timeseries stream
- name: Universal blockchain explorer
  tags:
  - List of blockchain entities v2
  - Full blockchain entities v2
  - Blockchain Explorer Job
  - Blockchain Explorer Job Results
- name: Tools
  tags:
  - Chain Monitor tools
- name: Security Master
  tags:
  - Security Master
- name: Constituents
  tags:
  - Constituent Snapshots
  - Constituent Timeframes
- name: Blockchain Metadata
  tags:
  - Blockchain Metadata
- name: Jobs
  tags:
  - Jobs
