openapi: 3.0.2
info:
  title: Coin Metrics API v4 Blockchain Explorer Job Catalog v2 API
  description: '[Coin Metrics Homepage](https://coinmetrics.io/)<br/> [API Backward Compatibility Policy](https://docs.coinmetrics.io/access-our-data/api#backward-compatibility)<br/> [Python API Client](https://coinmetrics.github.io/api-client-python/site/index.html)<br/><br/>

    HTTP API root endpoint URL is `https://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/> WebSocket API root endpoint is `wss://api.coinmetrics.io/v4`. Coin Metrics&apos; paid product.<br/><br/> The Community HTTP API root endpoint URL is `https://community-api.coinmetrics.io/v4`. API key is not required when accessing community endpoints. Available to the community under the [Creative Commons](https://creativecommons.org/licenses/by-nc/4.0/) license.

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->

    # Response headers

    Note that Coin Metrics API responses have a `CF-RAY` HTTP header e.g. `88a6ec1d2f930774-IAD` which can be used for diagnostic purposes. When raising Support requests, please ensure to provide the value of this header. '
  termsOfService: https://coinmetrics.io/api/terms
  contact:
    name: Coin Metrics Support
    url: https://coinmetrics.io/support/
    email: support@coinmetrics.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0
servers:
- url: https://api.coinmetrics.io/v4
- url: wss://api.coinmetrics.io/v4
- url: https://community-api.coinmetrics.io/v4
tags:
- name: Catalog v2
  description: Catalog of available for your `api_key` data.<br/> Use the [Full catalog V2](#tag/Full-catalog-v2) endpoints for the full list of supported by Coin Metrics data.
paths:
  /catalog-v2/asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available asset metrics
      description: Returns a list of available asset metrics along with the time ranges of available data.
      operationId: getCatalogV2AssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/asset-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/asset-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_asset_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/Reviewable'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2AssetMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/exchange-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available exchange metrics
      description: Returns a list of available exchange metrics along with the time ranges of available data.
      operationId: getCatalogV2ExchangeMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/exchange-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/exchange-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_exchange_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogExchangeId'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2ExchangeMetrics'
        '400':
          $ref: '#/components/responses/ExchangeNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - api_key: []
  /catalog-v2/exchange-asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available exchange-asset metrics
      description: Returns a list of available exchange-asset metrics along with the time ranges of available data.
      operationId: getCatalogV2ExchangeAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/exchange-asset-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/exchange-asset-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_exchange_asset_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogExchangeAssetId'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2ExchangeAssetMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/exchange-pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available exchange-pair metrics
      description: Returns a list of available exchange-pair metrics along with the time ranges of available data.
      operationId: getCatalogV2ExchangePairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/exchange-pair-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/exchange-pair-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_exchange_pair_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogExchangePairId'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2ExchangePairMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available pair metrics
      description: Returns a list of available pair metrics along with the time ranges of available data.
      operationId: getCatalogV2PairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/pair-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/pair-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_pair_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogPairId'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2PairMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/institution-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available institution metrics
      description: Returns a list of available institution metrics along with the time ranges of available data.
      operationId: getCatalogV2InstitutionMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/institution-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/institution-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_institution_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogInstitutionId'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2InstitutionMetrics'
        '400':
          $ref: '#/components/responses/MetricNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-trades:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market trades
      description: Returns a list of markets with trades support along with the time ranges of available data.
      operationId: getCatalogV2MarketTrades
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-trades?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-trades?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_trades_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketTrades'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market candles
      description: Returns a list of markets with candles support along with the time ranges of available data per candle duration.
      operationId: getCatalogV2MarketCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-candles?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-candles?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_candles_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketCandles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-orderbooks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market orderbooks
      description: Returns a list of markets with orderbooks support along with the time ranges of available data.
      operationId: getCatalogV2MarketOrderbooks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-orderbooks?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-orderbooks?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_orderbooks_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketOrderbooks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-quotes:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market quotes
      description: Returns a list of markets with quotes support along with the time ranges of available data.
      operationId: getCatalogV2MarketQuotes
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-quotes?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-quotes?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_quotes_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketQuotes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-funding-rates:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market funding rates
      description: Returns a list of markets with funding rates support along with the time ranges of available data.
      operationId: getCatalogV2MarketFundingRates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-funding-rates?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-funding-rates?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_funding_rates_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketFundingRates'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-funding-rates-predicted:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available predicted market funding rates
      description: Returns a list of markets with predicted funding rates support along with the time ranges of available data.
      operationId: getCatalogV2MarketFundingRatesPredicted
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-funding-rates-predicted?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-funding-rates-predicted?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_funding_rates_predicted_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketFundingRatesPredicted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-contract-prices:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market contract prices
      description: Returns a list of contract prices for option market.
      operationId: getCatalogV2MarketContractPrices
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-contract-prices?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-contract-prices?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_contract_prices_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketContractPrices'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-implied-volatility:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market implied volatility
      description: Returns a list of implied volatility for option market.
      operationId: getCatalogV2MarketImpliedVolatility
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-implied-volatility?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-implied-volatility?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_implied_volatility_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketImpliedVolatility'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-greeks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market greeks
      description: Returns a list of greeks for option market.
      operationId: getCatalogV2MarketGreeks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-greeks?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-greeks?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_greeks_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketGreeks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-openinterest:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market open interest
      description: Returns a list of markets with open interest support along with the time ranges of available data.
      operationId: getCatalogV2MarketOpeninterest
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-openinterest?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-openinterest?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_openinterest_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketOpeninterest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-liquidations:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market liquidations
      description: Returns a list of markets with liquidations support along with the time ranges of available data.
      operationId: getCatalogV2MarketLiquidations
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-liquidations?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-liquidations?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_liquidations_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketLiquidations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/market-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market metrics
      description: Returns a list of markets with metrics support along with the time ranges of available data per metric.
      operationId: getCatalogV2MarketMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/market-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/market-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_market_metrics_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogMarketId'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketBase'
      - $ref: '#/components/parameters/MarketQuote'
      - $ref: '#/components/parameters/MarketAsset'
      - $ref: '#/components/parameters/MarketSymbol'
      - $ref: '#/components/parameters/CatalogMetric'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MarketMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/pair-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available pair candles
      description: Returns a list of available asset pair candles along with the time ranges of available data per candle duration.
      operationId: getCatalogV2PairCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/pair-candles?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/pair-candles?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_pair_candles_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogPairId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2PairCandles'
        '400':
          $ref: '#/components/responses/PairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/index-levels:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available index levels
      description: Returns a list of available index levels along with time ranges of available data.
      operationId: getCatalogV2IndexLevels
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/index-levels?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/index-levels?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_index_levels_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogIndexId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2IndexLevels'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - api_key: []
  /catalog-v2/index-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available index candles
      description: Returns a list of available index candles along with the time ranges of available data per candle duration.
      operationId: getCatalogV2IndexCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/index-candles?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/index-candles?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_index_candles_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogIndexId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2IndexCandles'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/asset-chains:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available asset chains
      description: Returns a list of available assets for the asset-chains endpoint along with time ranges of available data.
      operationId: getCatalogV2AssetChains
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/asset-chains?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/asset-chains?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_asset_chains_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2AssetChains'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/mempool-feerates:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available mempool feerates
      description: Returns a list of available assets for the mempool-feerates endpoint along with time ranges of available data.
      operationId: getCatalogV2MempoolFeerates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/mempool-feerates?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/mempool-feerates?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_mempool_feerates_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MempoolFeerates'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/mining-pool-tips-summary:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available mining pool tips summaries
      description: Returns a list of available assets for the mining-pool-tips-summary endpoint along with time ranges of available data.
      operationId: getCatalogV2MiningPoolTipsSummary
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/mining-pool-tips-summary?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/mining-pool-tips-summary?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_mining_pool_tips_summary_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2MiningPoolTipsSummary'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/transaction-tracker:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available transaction tracker assets
      description: Returns a list of available assets for the transaction-tracker endpoint along with time ranges of available data.
      operationId: getCatalogV2TransactionTracker
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/transaction-tracker?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/transaction-tracker?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_transaction_tracker_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2TransactionTracker'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/blockchain-v2/accounts:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available blockchain accounts assets
      description: Returns a list of available assets for the blockchain accounts endpoint along with time ranges of available data.
      operationId: getCatalogV2BlockchainAccounts
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/accounts?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/accounts?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_blockchain_accounts_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2BlockchainAccounts'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/blockchain-v2/balance-updates:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available blockchain balance updates assets
      description: Returns a list of available assets for the blockchain balance updates endpoint along with time ranges of available data.
      operationId: getCatalogV2BlockchainBalanceUpdates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/balance-updates?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/balance-updates?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_blockchain_balance_updates_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2BlockchainBalanceUpdates'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/blockchain-v2/rebasing-changes:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available blockchain rebasing changes assets
      description: Returns a list of available assets for the blockchain rebasing changes endpoint along with time ranges of available data.
      operationId: getCatalogV2BlockchainRebasingChanges
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/rebasing-changes?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/rebasing-changes?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_blockchain_rebasing_changes_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2BlockchainRebasingChanges'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/blockchain-v2/blocks:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available blockchain block assets
      description: Returns a list of available assets for the blockchain blocks endpoint along with time ranges of available data.
      operationId: getCatalogV2BlockchainBlocks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/blocks?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/blocks?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_blockchain_blocks_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2BlockchainBlocks'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/blockchain-v2/transactions:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available blockchain transactions assets
      description: Returns a list of available assets for the blockchain transactions endpoint along with time ranges of available data.
      operationId: getCatalogV2BlockchainTransactions
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/transactions?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/blockchain-v2/transactions?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.catalog_blockchain_transactions_v2().to_list()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/CatalogAssetId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2BlockchainTransactions'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /catalog-v2/protocol-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Available protocol metrics
      description: Returns a list of available protocol markets along with the chains and metrics available for each.
      operationId: getCatalogV2ProtocolMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/catalog-v2/protocol-metrics?pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/catalog-v2/protocol-metrics?pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Catalog v2
      parameters:
      - $ref: '#/components/parameters/Protocols'
      - $ref: '#/components/parameters/ProtocolChains'
      - $ref: '#/components/parameters/ProtocolMarkets'
      - $ref: '#/components/parameters/ProtocolMetrics'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/CatalogV2ProtocolMetrics'
        '400':
          $ref: '#/components/responses/ProtocolNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
components:
  schemas:
    CatalogV2BlockchainBlocksResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2BlockchainAssetsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2TransactionTrackerResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogTransactionTrackerInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    ExchangePairMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/ExchangePairMetricFrequency'
      type: array
    CatalogMarketGreeksInfo:
      description: Information about market and time range of its available greeks data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    AssetMetricInfo:
      description: Information about availability of metric for an asset.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/AssetMetricFrequencies'
      required:
      - metric
      - frequencies
    CatalogMarketOpeninterestInfo:
      description: Information about market and time range of its available open interest data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    PairMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/PairMetricFrequency'
      type: array
    PairMetricInfo:
      description: Information about availability of metric for an pair.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/PairMetricFrequencies'
      required:
      - metric
      - frequencies
    MinHeight:
      description: Minimal available block height for time series.
      type: string
      format: int64
    CatalogV2IndexLevelsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2IndexInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogMarketQuotesInfo:
      description: Information about market and time range of its available quotes data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    MarketMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogMiningPoolTipsSummaryInfo:
      description: Information about mining pool tips summary.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogV2MarketFundingRatesResponse:
      description: List of market funding rates statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketFundingRatesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2BlockchainAssetsInfo:
      description: Information about blockchain assets.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        experimental:
          $ref: '#/components/schemas/ExperimentalAsset'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogAssetChainsInfo:
      description: Information about asset chains.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogMarketTradesInfo:
      description: Information about market and time range of its available trades data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    ExchangeMetricInfo:
      description: Information about availability of metric for an exchange.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/ExchangeMetricFrequencies'
      required:
      - metric
      - frequencies
    CatalogV2IndexCandlesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogIndexCandlesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2InstitutionMetricsInfo:
      description: Information about institution metrics.
      properties:
        institution:
          $ref: '#/components/schemas/InstitutionId'
        metrics:
          $ref: '#/components/schemas/InstitutionMetricsIds'
      required:
      - institution
      - metrics
      type: object
    ExchangePairMetricInfo:
      description: Information about availability of metric for an exchange-pair.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/ExchangePairMetricFrequencies'
      required:
      - metric
      - frequencies
    MarketMetricInfo:
      description: Information about availability of metric for a market.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/MarketMetricFrequencies'
      required:
      - metric
      - frequencies
    Time:
      description: The time in ISO 8601 date-time format. Always with nanoseconds precision.
      type: string
      format: date-time
    CatalogV2MiningPoolTipsSummaryResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMiningPoolTipsSummaryInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2MarketOrderbooksInfo:
      description: Information about market and time range of its available orderbooks data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        depths:
          $ref: '#/components/schemas/CatalogMarketOrderbookDepths'
      type: object
      required:
      - market
      - depths
    CatalogPairCandlesInfo:
      description: Information about pair and its supported candle durations.
      properties:
        pair:
          $ref: '#/components/schemas/PairId'
        frequencies:
          $ref: '#/components/schemas/CatalogCandleFrequencies'
      type: object
      required:
      - pair
    MaxTime:
      description: Maximal available time for time series.
      type: string
      format: date-time
    CatalogV2ExchangeMetricsInfo:
      description: Information about exchange metrics.
      properties:
        exchange:
          $ref: '#/components/schemas/ExchangeId'
        metrics:
          $ref: '#/components/schemas/ExchangeMetricsIds'
      required:
      - exchange
      - metrics
      type: object
    InstitutionId:
      description: Unique name of the institution.
      type: string
    IndexId:
      description: Name of the index.
      type: string
    CatalogV2PairMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2PairMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2ExchangeAssetMetricsInfo:
      description: Information about exchange-asset metrics.
      properties:
        exchange_asset:
          $ref: '#/components/schemas/ExchangeId'
        metrics:
          $ref: '#/components/schemas/ExchangeAssetMetricsIds'
      required:
      - exchange_asset
      - metrics
      type: object
    MarketId:
      description: Unique name of the market.
      type: string
    CatalogV2BlockchainAccountsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2BlockchainAssetsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2MarketContractPricesResponse:
      description: List of contract prices statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketContractPricesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2ExchangeMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2ExchangeMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2PairMetricsInfo:
      description: Information about pair metrics.
      properties:
        pair:
          $ref: '#/components/schemas/PairId'
        metrics:
          $ref: '#/components/schemas/PairMetricsIds'
      required:
      - pair
      - metrics
      type: object
    ExchangeAssetMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    ExchangeAssetMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/ExchangeAssetMetricInfo'
      type: array
    CatalogV2InstitutionMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2InstitutionMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2MarketMetricsResponse:
      description: List of market metrics statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogMempoolFeeratesInfo:
      description: Information about mempool feerates.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    CatalogMarketOrderbookDepth:
      description: 'Order book availability for a depth. The depth-level min_time and max_time are backward-compatible summary fields. When the snapshots dataset is present, they match the snapshots dataset min_time and max_time. If snapshots is absent and updates is present, they fall back to the updates dataset range. They do not represent a union of dataset ranges.

        '
      properties:
        depth:
          type: string
          description: Depth of the book
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        datasets:
          $ref: '#/components/schemas/CatalogMarketOrderbookDatasets'
      required:
      - depth
      - min_time
      - max_time
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
      required:
      - error
      type: object
    CatalogV2MarketGreeksResponse:
      description: List of greeks statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketGreeksInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2ProtocolMetricFrequency:
      description: Time range for a metric at a given frequency.
      type: object
      properties:
        frequency:
          description: Data frequency.
          type: string
        min_time:
          $ref: '#/components/schemas/Time'
        max_time:
          $ref: '#/components/schemas/Time'
      required:
      - frequency
      - min_time
      - max_time
    CatalogMarketLiquidationsInfo:
      description: Information about market and time range of its available liquidations data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    PairMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/PairMetricInfo'
      type: array
    CatalogV2MempoolFeeratesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMempoolFeeratesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    Community:
      description: Indicates an availability of the metric in the community version of the API.
      type: boolean
    CatalogMarketOrderbookDatasets:
      description: Dataset-specific availability ranges for this order book depth.
      items:
        $ref: '#/components/schemas/CatalogMarketOrderbookDataset'
      type: array
    CatalogIndexFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the index.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - frequency
      - min_time
      - max_time
    CatalogV2MarketOrderbooksResponse:
      description: List of market orderbooks statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2MarketOrderbooksInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    MinTime:
      description: Minimal available time for time series.
      type: string
      format: date-time
    ErrorObject:
      properties:
        type:
          description: Error type string. Can be used for error identification.
          type: string
        message:
          description: Human-friendly error description. Can be amended without prior notification. Do not use for error identification in your code.
          type: string
      required:
      - type
      - description
      type: object
    AssetId:
      description: Unique name of the asset.
      type: string
    MaxHash:
      description: Maximal available block hash for time series.
      type: string
    ExchangeId:
      description: Unique name of the exchange.
      type: string
    CatalogCandleFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the candle.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - frequency
      - min_time
      - max_time
    CatalogV2MarketFundingRatesPredictedResponse:
      description: List of predicted market funding rates statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketFundingRatesPredictedInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2MarketImpliedVolatilityResponse:
      description: List of implied volatility statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketImpliedVolatilityInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2ProtocolMetricInfo:
      description: Metric availability across frequencies.
      type: object
      properties:
        metric:
          description: Metric name.
          type: string
        frequencies:
          type: array
          items:
            $ref: '#/components/schemas/CatalogV2ProtocolMetricFrequency'
      required:
      - metric
      - frequencies
    CatalogV2BlockchainTransactionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2BlockchainAssetsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    ExchangeMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/ExchangeMetricInfo'
      type: array
    NextPageToken:
      description: Token of the next page results for a given request.
      type: string
    MaxHeight:
      description: Maximal available block height for time series.
      type: string
      format: int64
    CatalogMarketMetricsInfo:
      description: Information about market and its supported metrics.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        metrics:
          $ref: '#/components/schemas/MarketMetricsIds'
      type: object
      required:
      - market
      - metrics
    CatalogV2MarketLiquidationsResponse:
      description: List of market liquidations statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketLiquidationsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    ExperimentalAsset:
      description: If set to true, discrepancies might be present in the dataset for this asset, and that's expected.
      type: boolean
    InstitutionMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/InstitutionMetricFrequency'
      type: array
    CatalogV2ProtocolMetricsResponse:
      description: Catalog of available protocol metrics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2ProtocolMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    PairId:
      description: Unique name of the pair.
      type: string
    CatalogV2IndexInfo:
      description: Information about an index.
      properties:
        index:
          $ref: '#/components/schemas/IndexId'
        frequencies:
          $ref: '#/components/schemas/IndexFrequencies'
      required:
      - index
      - frequencies
      type: object
    MetricId:
      description: Name of the metric.
      type: string
    MetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/AssetMetricInfo'
      type: array
    ExchangeMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogMarketOrderbookDataset:
      properties:
        dataset:
          type: string
          description: Order book dataset name.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - dataset
      - min_time
      - max_time
    CatalogV2AssetMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2AssetMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    ExchangeAssetMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/ExchangeAssetMetricFrequency'
      type: array
    AssetMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
        min_height:
          $ref: '#/components/schemas/MinHeight'
        max_height:
          $ref: '#/components/schemas/MaxHeight'
        min_hash:
          $ref: '#/components/schemas/MinHash'
        max_hash:
          $ref: '#/components/schemas/MaxHash'
        community:
          $ref: '#/components/schemas/Community'
        experimental:
          $ref: '#/components/schemas/ExperimentalAssetMetric'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    ExchangePairMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogV2MarketOpeninterestResponse:
      description: List of market open interest statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketOpeninterestInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2ExchangePairMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2ExchangePairMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    PairMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogV2ExchangeAssetMetricsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2ExchangeAssetMetricsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2MarketCandlesResponse:
      description: List of market candles statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketCandlesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2AssetMetricsInfo:
      description: Information about asset metrics.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        metrics:
          $ref: '#/components/schemas/MetricsIds'
      required:
      - asset
      - metrics
      type: object
    InstitutionMetricInfo:
      description: Information about availability of metric for an institution.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/InstitutionMetricFrequencies'
      required:
      - metric
      - frequencies
    CatalogV2MarketQuotesResponse:
      description: List of market quotes statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketQuotesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogMarketFundingRatesPredictedInfo:
      description: Information about market and time range of its available predicted funding rates data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    NextPageUrl:
      description: URL of the next page results for a given request.
      type: string
    CatalogV2ProtocolMetricsInfo:
      description: Available metrics for a protocol/market/chain combination.
      type: object
      properties:
        protocol:
          description: Protocol name.
          type: string
        market:
          description: Protocol market.
          type: string
        chain:
          description: Protocol chain.
          type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/CatalogV2ProtocolMetricInfo'
      required:
      - protocol
      - market
      - chain
      - metrics
    CatalogIndexCandlesInfo:
      description: Information about index and its supported candle durations.
      properties:
        index:
          $ref: '#/components/schemas/IndexId'
        frequencies:
          $ref: '#/components/schemas/CatalogCandleFrequencies'
      type: object
      required:
      - index
    ExperimentalAssetMetric:
      description: Asset, metric, and frequency combination is experimental.
      type: boolean
    MarketMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/MarketMetricFrequency'
      type: array
    CatalogV2BlockchainBalanceUpdatesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2BlockchainAssetsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogV2MarketTradesResponse:
      description: List of market trades statistics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogMarketTradesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogMarketContractPricesInfo:
      description: Information about market and time range of its available contract prices data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    CatalogMarketImpliedVolatilityInfo:
      description: Information about market and time range of its available implied volatility data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    InstitutionMetricFrequency:
      properties:
        frequency:
          type: string
          description: Frequency of the metric.
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - frequency
      - min_time
      - max_time
    CatalogV2AssetChainsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogAssetChainsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CatalogTransactionTrackerInfo:
      description: Information about transaction tracker.
      properties:
        asset:
          $ref: '#/components/schemas/AssetId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      required:
      - asset
      - min_time
      - max_time
      type: object
    ExchangeMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/ExchangeMetricFrequency'
      type: array
    AssetMetricFrequencies:
      description: List of metric frequencies.
      items:
        $ref: '#/components/schemas/AssetMetricFrequency'
      type: array
    InstitutionMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/InstitutionMetricInfo'
      type: array
    CatalogV2BlockchainRebasingChangesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogV2BlockchainAssetsInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    MinHash:
      description: Minimal available black hash for time series.
      type: string
    CatalogMarketCandlesInfo:
      description: Information about market and its supported candle durations.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        frequencies:
          $ref: '#/components/schemas/CatalogCandleFrequencies'
      type: object
      required:
      - market
      - candles
    IndexFrequencies:
      description: Frequencies of the index.
      items:
        $ref: '#/components/schemas/CatalogIndexFrequency'
      type: array
    CatalogV2PairCandlesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CatalogPairCandlesInfo'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    MarketMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/MarketMetricInfo'
      type: array
    CatalogMarketFundingRatesInfo:
      description: Information about market and time range of its available funding rates data.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        min_time:
          $ref: '#/components/schemas/MinTime'
        max_time:
          $ref: '#/components/schemas/MaxTime'
      type: object
      required:
      - market
      - min_time
      - max_time
    CatalogV2ExchangePairMetricsInfo:
      description: Information about exchange-pair metrics.
      properties:
        exchange_pair:
          $ref: '#/components/schemas/ExchangeId'
        metrics:
          $ref: '#/components/schemas/ExchangePairMetricsIds'
      required:
      - exchange_pair
      - metrics
      type: object
    CatalogCandleFrequencies:
      description: Frequencies of the candle.
      items:
        $ref: '#/components/schemas/CatalogCandleFrequency'
      type: array
    ExchangePairMetricsIds:
      description: List of metrics.
      items:
        $ref: '#/components/schemas/ExchangePairMetricInfo'
      type: array
    ExchangeAssetMetricInfo:
      description: Information about availability of metric for an exchange-asset.
      properties:
        metric:
          $ref: '#/components/schemas/MetricId'
        frequencies:
          $ref: '#/components/schemas/ExchangeAssetMetricFrequencies'
      required:
      - metric
      - frequencies
    CatalogMarketOrderbookDepths:
      description: Depths of the book.
      items:
        $ref: '#/components/schemas/CatalogMarketOrderbookDepth'
      type: array
  responses:
    CatalogV2MarketCandles:
      description: List of market candles statistics.
      content:
        application/json:
          example:
            data:
            - market: bitmex-XBTUSD-future
              frequencies:
              - frequency: 5m
                min_time: '2020-01-19T21:00:00.000001000Z'
                max_time: '2020-01-19T21:25:00.000000000Z'
              - frequency: 10m
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 15m
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 30m
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 1h
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 1d
                min_time: '2010-07-19T00:00:00.000000000Z'
                max_time: '2019-12-25T00:00:00.000000000Z'
            - market: bittrex-btc-usd-spot
              frequencies:
              - frequency: 1m
                min_time: '2020-01-19T21:00:00.000001000Z'
                max_time: '2020-01-19T21:00:00.000001000Z'
              - frequency: 5m
                min_time: '2020-01-19T21:00:00.000001000Z'
                max_time: '2020-01-19T21:25:00.000000000Z'
              - frequency: 10m
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 15m
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 30m
                min_time: '2020-01-19T21:00:00.000000000Z'
                max_time: '2020-01-19T21:00:00.000000000Z'
              - frequency: 1h
                min_time: '2020-01-19T21:00:00.000000000Z'
[...]
