openapi: 3.2.0
info:
  title: Coin Metrics API v4 Timeseries API
  description: 'Coin Metrics Homepage

    API Backward Compatibility Policy

    Python API Client


    HTTP API root endpoint URL is `https://api.coinmetrics.io/v4`.'
  termsOfService: https://coinmetrics.io/api/terms
  contact:
    name: Coin Metrics Support
    url: https://coinmetrics.io/support/
    email: support@coinmetrics.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0
servers:
- url: https://api.coinmetrics.io/v4
- url: wss://api.coinmetrics.io/v4
- url: https://community-api.coinmetrics.io/v4
tags:
- name: Time Series
  description: Endpoints for fetching metrics, market data, indexes and other time series data.
paths:
  /timeseries/asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Asset metrics
      description: 'Returns requested metrics for specified assets.


        Results for block by block metrics (`1b` frequency) are ordered by tuple `(asset, height, block_hash)`, all other metrics are ordered by tuple `(asset, time)`. You can change the sorting using `sort` query parameter.


        Supported output formats are `json` (default), `json_stream` and `csv`. Use the `format` query parameter to override it.

        To fetch the next page of results use `next_page_url` JSON response field or `x-next-page-url` CSV HTTP header if present.


        If multiple metrics are requested in the same time the strict policy for partially available metrics among requested ones is applied:


        missing metric name in the JSON response means that the metric is "not a supported metric" for the asset and frequency while some other requested metrics are supported.


        `null` value of the metric means "no data in the database" while some other requested metrics have data.'
      operationId: getTimeseriesAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/asset-metrics?assets=btc&metrics=PriceUSD,SplyBMXNtv&start_time=2020-02-29&end_time=2020-03-01&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/asset-metrics?assets=btc&metrics=PriceUSD,SplyBMXNtv&start_time=2020-02-29&end_time=2020-03-01&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_asset_metrics(assets="btc", metrics="PriceUSD,SplyBMXNtv", start_time="2020-02-29", end_time="2020-03-01", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/AssetMetricsAssetId'
      - $ref: '#/components/parameters/AssetMetrics'
      - $ref: '#/components/parameters/AssetMetricsFrequency'
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/StartTimeMutuallyExclusiveWithHeightAndHash'
      - $ref: '#/components/parameters/EndTimeMutuallyExclusiveWithHeightAndHash'
      - $ref: '#/components/parameters/StartHeightMutuallyExclusiveWithTimeAndHash'
      - $ref: '#/components/parameters/EndHeightMutuallyExclusiveWithTimeAndHash'
      - $ref: '#/components/parameters/StartHash'
      - $ref: '#/components/parameters/EndHash'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/MinConfirmations'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/LimitPerAsset'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NullAsZero'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IgnoreUnsupportedErrors'
      - $ref: '#/components/parameters/IgnoreForbiddenErrors'
      responses:
        '200':
          $ref: '#/components/responses/AssetMetrics'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/exchange-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange metrics
      description: 'Returns metrics for specified exchanges.

        Results are ordered by tuple `(exchange, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesExchangeMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/exchange-metrics?exchanges=binance&metrics=volume_reported_spot_usd_1d&start_time=2020-01-01&end_time=2020-01-04&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/exchange-metrics?exchanges=binance&metrics=volume_reported_spot_usd_1d&start_time=2020-01-01&end_time=2020-01-04&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_exchange_metrics(exchanges="binance", metrics="volume_reported_spot_usd_1d", start_time="2020-01-01", end_time="2020-01-04", paging_from="start", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/Exchanges'
      - $ref: '#/components/parameters/ExchangeMetricsParam'
      - $ref: '#/components/parameters/ExchangeMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/ExchangeSort'
      - $ref: '#/components/parameters/LimitPerExchange'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/ExchangeMetrics'
        '400':
          $ref: '#/components/responses/ExchangeNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/exchange-asset-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange-asset metrics
      description: 'Returns metrics for specified exchange-asset.

        Results are ordered by tuple `(exchange_asset, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesExchangeAssetMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/exchange-asset-metrics?exchange_assets=binance-btc&metrics=volume_reported_spot_usd_1d&start_time=2021-10-04&end_time=2020-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/exchange-asset-metrics?exchange_assets=binance-btc&metrics=volume_reported_spot_usd_1d&start_time=2021-10-04&end_time=2020-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_exchange_asset_metrics(exchange_assets="binance-btc", metrics="volume_reported_spot_usd_1d", start_time="2021-10-04", end_time="2020-10-07", paging_from="start", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/ExchangeAssets'
      - $ref: '#/components/parameters/ExchangeAssetMetricsParam'
      - $ref: '#/components/parameters/ExchangeAssetMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/ExchangeAssetSort'
      - $ref: '#/components/parameters/LimitPerExchangeAsset'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/ExchangeAssetMetrics'
        '400':
          $ref: '#/components/responses/ExchangeAssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/exchange-pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange-pair metrics
      description: 'Returns metrics for specified exchange-pair.

        Results are ordered by tuple `(exchange_pair, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesExchangePairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/exchange-pair-metrics?exchange_pairs=binance-btc-usdt&metrics=volatility_implied_skew_delta_50_270d_expiration&start_time=2025-10-04&end_time=2025-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/exchange-pair-metrics?exchange_pairs=binance-btc-usdt&metrics=volatility_implied_skew_delta_50_270d_expiration&start_time=2025-10-04&end_time=2025-10-07&paging_from=start&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_exchange_pair_metrics(exchange_pairs="binance-btc-usdt", metrics="volatility_implied_skew_delta_50_270d_expiration", start_time="2025-10-04", end_time="2025-10-07", paging_from="start", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/ExchangePairs'
      - $ref: '#/components/parameters/ExchangePairMetricsParam'
      - $ref: '#/components/parameters/ExchangePairMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerExchangePair'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/ExchangePairMetrics'
        '400':
          $ref: '#/components/responses/ExchangePairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market metrics
      description: 'Returns metrics for specified markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesMarketMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-metrics?markets=binance-BTCUSDT-future&metrics=liquidations_reported_future_buy_usd_5m&start_time=2022-01-19T20:00:00Z&end_time=2022-01-19T21:00:00Z&paging_from=start&frequency=5m&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-metrics?markets=binance-BTCUSDT-future&metrics=liquidations_reported_future_buy_usd_5m&start_time=2022-01-19T20:00:00Z&end_time=2022-01-19T21:00:00Z&paging_from=start&frequency=5m&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_metrics(markets="binance-BTCUSDT-future", metrics="liquidations_reported_future_buy_usd_5m", start_time="2022-01-19T20:00:00Z", end_time="2022-01-19T21:00:00Z", paging_from="start", frequency="5m").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/MarketMetricsParam'
      - $ref: '#/components/parameters/MarketMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/MarketMetricsSort'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IgnoreUnsupportedErrors'
      - $ref: '#/components/parameters/IgnoreForbiddenErrors'
      responses:
        '200':
          $ref: '#/components/responses/MarketMetrics'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/pair-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Pair metrics
      description: 'Returns metrics for specified asset pairs.

        Results are ordered by tuple `(pair, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesPairMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/pair-metrics?pairs=btc-usd&metrics=volume_trusted_spot_usd_1d&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/pair-metrics?pairs=btc-usd&metrics=volume_trusted_spot_usd_1d&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_pair_metrics(pairs="btc-usd", metrics="volume_trusted_spot_usd_1d", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/Pair'
      - $ref: '#/components/parameters/PairMetricsParam'
      - $ref: '#/components/parameters/PairMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/PairSort'
      - $ref: '#/components/parameters/LimitPerPair'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/PairMetrics'
        '400':
          $ref: '#/components/responses/PairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/pair-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Pair candles
      description: 'Returns candles for specified asset pairs.

        Results are ordered by tuple `(pair, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesPairCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/pair-candles?pairs=btc-usd&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/pair-candles?pairs=btc-usd&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/PairWithCandle'
      - $ref: '#/components/parameters/CandleFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerPairCandle'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/PairCandles'
        '400':
          $ref: '#/components/responses/PairNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/protocol-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Protocol metrics
      description: 'Returns metrics for specified protocols.

        Results are ordered by tuple `(protocol, market)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesProtocolMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/protocol-metrics?protocols=aave_v3&markets=core-weth&chains=ethereum&metrics=supply_apy&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/protocol-metrics?protocols=aave_v3&markets=core-weth&chains=ethereum&metrics=supply_apy&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/Protocols'
      - $ref: '#/components/parameters/ProtocolChains'
      - $ref: '#/components/parameters/ProtocolMarkets'
      - $ref: '#/components/parameters/ProtocolFrequency'
      - $ref: '#/components/parameters/ProtocolMetrics'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFromWithStartByDefault'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/Pretty'
      responses:
        '200':
          $ref: '#/components/responses/ProtocolMetricsResponse'
        '400':
          $ref: '#/components/responses/ProtocolNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/institution-metrics:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Institution metrics
      description: 'Returns metrics for specified institutions.

        Results are ordered by tuple `(institution, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesInstitutionMetrics
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/institution-metrics?institutions=grayscale&metrics=btc_total_assets&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/institution-metrics?institutions=grayscale&metrics=btc_total_assets&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_institution_metrics(institutions="grayscale", metrics="btc_total_assets", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/Institution'
      - $ref: '#/components/parameters/InstitutionMetricsParam'
      - $ref: '#/components/parameters/InstitutionMetricsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/InstitutionSort'
      - $ref: '#/components/parameters/LimitPerInstitution'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/InstitutionMetrics'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-trades:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market trades
      description: 'Returns trades for specified markets.

        Results are ordered by tuple `(market, time, coin_metrics_id)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesMarketTrades
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-trades?start_time=2015-01-08T20:55:00Z&end_time=2015-01-08T21:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-trades?start_time=2015-01-08T20:55:00Z&end_time=2015-01-08T21:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_trades(start_time="2015-01-08T20:55:00Z", end_time="2015-01-08T21:00:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/TradeMinConfirmations'
      responses:
        '200':
          $ref: '#/components/responses/MarketTrades'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-openinterest:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market open interest
      description: 'Returns open interest for specified futures markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.


        Note: The `value_usd` field in this endpoint was previously calculated using hardcoded logic that no longer reflects current contract specifications across all exchanges.


        To address this, we have deprecated the `value_usd` field and introduced new, more accurate metrics available via the `/timeseries/market-metrics` endpoint.


        These two metrics should be used as a replacement for the `value_usd` field going forward:

        - `open_interest_reported_future_usd` to represent the notional value of open interest in U.S. dollars for futures markets

        - `open_interest_reported_option_notional_usd` to represent the notional value of open interest in U.S. dollars for options markets


        We also introduced `open_interest_reported_option_market_value_usd` to represent the market value of open interest in U.S. dollars for options markets.'
      operationId: getTimeseriesMarketOpenIntereset
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-openinterest?start_time=2020-08-05T23:00:00Z&end_time=2020-08-06T00:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-openinterest?start_time=2020-08-05T23:00:00Z&end_time=2020-08-06T00:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_openinterest(start_time="2020-08-05T23:00:00Z", end_time="2020-08-06T00:00:00Z", paging_from="start", markets="bitmex-XBTUSD-future").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/OpenInterestGranularity'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketOpenInterest'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-liquidations:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market liquidations
      description: 'Returns liquidations for specified futures markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.'
      operationId: getTimeseriesMarketLiquidations
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-liquidations?start_time=2020-10-10T15:00:00Z&end_time=2020-10-10T16:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-liquidations?start_time=2020-10-10T15:00:00Z&end_time=2020-10-10T16:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_liquidations(start_time="2020-10-10T15:00:00Z", end_time="2020-10-10T16:00:00Z", paging_from="start", markets="bitmex-XBTUSD-future").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketLiquidations'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-funding-rates:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market funding rates
      description: 'Returns funding rates for specified futures markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.'
      operationId: getTimeseriesMarketFundingRates
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-funding-rates?start_time=2020-11-11T18:00:00Z&end_time=2020-11-11T19:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-funding-rates?start_time=2020-11-11T18:00:00Z&end_time=2020-11-11T19:00:00Z&paging_from=start&markets=bitmex-XBTUSD-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_funding_rates(start_time="2020-11-11T18:00:00Z", end_time="2020-11-11T19:00:00Z", paging_from="start", markets="bitmex-XBTUSD-future").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketFundingRates'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-funding-rates-predicted:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Predicted Market funding rates
      description: 'Returns predicted funding rates for specified futures markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field. Keep in mind that spot markets are not supported by this endpoint.'
      operationId: getTimeseriesMarketFundingRatesPredicted
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-funding-rates-predicted?start_time=2023-01-01&end_time=2023-01-02&paging_from=start&markets=deribit-XRP_USDC-PERPETUAL-future&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-funding-rates-predicted?start_time=2023-01-01&end_time=2023-01-02&paging_from=start&markets=deribit-XRP_USDC-PERPETUAL-future&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_funding_rates_predicted(start_time="2023-01-01", end_time="2023-01-02", paging_from="start", markets="deribit-XRP_USDC-PERPETUAL-future").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketFundingRatesPredicted'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-orderbooks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market orderbooks
      description: 'Returns orderbooks for specified markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesMarketOrderbooks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-orderbooks?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-orderbooks?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_orderbooks(start_time="2020-06-08T21:00:00Z", end_time="2020-06-08T22:00:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/MarketOrderBooksAndQuotesGranularity'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/BookPageSize'
      - $ref: '#/components/parameters/BookDepth'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/OrderBookDataset'
      - $ref: '#/components/parameters/OrderBookStartWithSnapshot'
      responses:
        '200':
          $ref: '#/components/responses/MarketOrderBooks'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-quotes:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market quotes
      description: 'Returns quotes for specified markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesMarketQuotes
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-quotes?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-quotes?start_time=2020-06-08T21:00:00Z&end_time=2020-06-08T22:00:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_quotes(start_time="2020-06-08T21:00:00Z", end_time="2020-06-08T22:00:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/MarketOrderBooksAndQuotesGranularity'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/CatalogResponseFormat'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IncludeOneSided'
      responses:
        '200':
          $ref: '#/components/responses/MarketQuotes'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market candles
      description: 'Returns candles for specified markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.

        Coin Metrics derives candles directly from trades. Candles are only generated if there are trades in the underlying interval. Therefore, gaps in candles data through time are normal and to be expected. To construct gapless candles, the client should fill forward candles through time, setting the open, high, low, and close to the close of the previous candle, setting the vwap to the vwap of the previous candle, and setting the volume to zero.'
      operationId: getTimeseriesMarketCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-candles?start_time=2020-06-08T20:45:00Z&end_time=2020-06-08T20:50:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-candles?start_time=2020-06-08T20:45:00Z&end_time=2020-06-08T20:50:00Z&paging_from=start&markets=coinbase-btc-usd-spot&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_candles(start_time="2020-06-08T20:45:00Z", end_time="2020-06-08T20:50:00Z", paging_from="start", markets="coinbase-btc-usd-spot").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/CandleFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/IgnoreUnsupportedErrors'
      - $ref: '#/components/parameters/IgnoreForbiddenErrors'
      responses:
        '200':
          $ref: '#/components/responses/MarketCandles'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-contract-prices:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market contract prices
      description: 'Returns contract prices for specified markets. This includes index price and mark price that are used by the exchange for settlement and risk management purposes.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesMarketContractPrices
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-contract-prices?start_time=2021-09-01T13:00:00Z&end_time=2021-09-01T14:00:00Z&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-contract-prices?start_time=2021-09-01T13:00:00Z&end_time=2021-09-01T14:00:00Z&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_contract_prices(start_time="2021-09-01T13:00:00Z", end_time="2021-09-01T14:00:00Z", paging_from="start", markets="deribit-ETH-25MAR22-1200-P-option").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/ContractPricesGranularity'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketContractPrices'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-implied-volatility:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market implied volatility
      description: 'Returns implied volatility for specified markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.

        Implied volatility is calculated using an options pricing model. It represents the market''s expectation of future volatility and is the value, when input to an options pricing model, that makes the actual options price equal to its theoretical price.'
      operationId: getTimeseriesMarketImpliedVolatility
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-implied-volatility?start_time=2021-09-05T13:00:00Z&end_time=2021-09-05T14:00:00Z&paging_from=start&markets=deribit-ETH-10SEP21-3200-P-option&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-implied-volatility?start_time=2021-09-05T13:00:00Z&end_time=2021-09-05T14:00:00Z&paging_from=start&markets=deribit-ETH-10SEP21-3200-P-option&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_implied_volatility(start_time="2021-09-05T13:00:00Z", end_time="2021-09-05T14:00:00Z", paging_from="start", markets="deribit-ETH-10SEP21-3200-P-option").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/ImpliedVolatilityGranularity'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketImpliedVolatility'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/market-greeks:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market greeks
      description: 'Returns greeks for option markets.

        Results are ordered by tuple `(market, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.

        Option greeks represent the sensitivity of the price of an options contract with respect to changes in its underlying parameters. Greeks are used in risk management and hedging so that market participants can achieve their desired exposure.'
      operationId: getTimeseriesMarketGreeks
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/market-greeks?start_time=2021-09-01&end_time=2021-09-02&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/market-greeks?start_time=2021-09-01&end_time=2021-09-02&paging_from=start&markets=deribit-ETH-25MAR22-1200-P-option&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_market_greeks(start_time="2021-09-01", end_time="2021-09-02", paging_from="start", markets="deribit-ETH-25MAR22-1200-P-option").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/MarketId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerMarket'
      - $ref: '#/components/parameters/GreeksGranularity'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MarketGreeks'
        '400':
          $ref: '#/components/responses/MarketNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/index-candles:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index candles
      description: 'Returns candles for specified indexes.

        Results are ordered by tuple `(index, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesIndexCandles
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/index-candles?start_time=2022-06-28&end_time=2022-06-30&paging_from=start&indexes=CMBIBTC&frequency=1d&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/index-candles?start_time=2022-06-28&end_time=2022-06-30&paging_from=start&indexes=CMBIBTC&frequency=1d&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_index_candles(start_time="2022-06-28", end_time="2022-06-30", paging_from="start", indexes="CMBIBTC", frequency="1d").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/IndexIdWithCandle'
      - $ref: '#/components/parameters/CandleFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerIndex'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/IndexCandles'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/index-levels:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index levels
      description: 'Returns levels for specified indexes.

        Results are ordered by tuple `(index, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesIndexLevels
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/index-levels?start_time=2020-01-01&end_time=2020-01-02&paging_from=start&indexes=CMBIBTC&frequency=1d-ny-close&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/index-levels?start_time=2020-01-01&end_time=2020-01-02&paging_from=start&indexes=CMBIBTC&frequency=1d-ny-close&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_index_levels(start_time="2020-01-01", end_time="2020-01-02", paging_from="start", indexes="CMBIBTC", frequency="1d-ny-close").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/IndexId'
      - $ref: '#/components/parameters/IndexFrequency'
      - $ref: '#/components/parameters/IndexLevelsGranularity'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/LimitPerIndex'
      - $ref: '#/components/parameters/IncludeVerification'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/ResponseFormat'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/IndexLevels'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - api_key: []
  /timeseries/index-constituents:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index constituents
      description: 'Returns constituents and weights for specified indexes.

        Results are ordered by tuple `(index, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesIndexConstituents
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/index-constituents?start_time=2020-05-01T22:00:00Z&end_time=2020-05-01T22:00:00Z&paging_from=start&indexes=CMBIBTC&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/index-constituents?start_time=2020-05-01T22:00:00Z&end_time=2020-05-01T22:00:00Z&paging_from=start&indexes=CMBIBTC&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_index_constituents(start_time="2020-05-01T22:00:00Z", end_time="2020-05-01T22:00:00Z", paging_from="start", indexes="CMBIBTC").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/IndexId'
      - $ref: '#/components/parameters/IndexConstituentsFrequency'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/IndexConstituents'
        '400':
          $ref: '#/components/responses/IndexNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - api_key: []
  /timeseries/mining-pool-tips-summary:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Mining pool tips summary (experimental)
      description: 'Returns mining pool tips summaries for the specified assets.

        Lists last tips that we saw in all mining pools that were active during the past hour.

        A new summary is created when we detect any change in current tips across all mining pools.

        This endpoint is useful for those who want to track forks and reorgs by visualizing the distribution of currently active tips between mining pools.

        Results are ordered by tuple `(asset, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getTimeseriesMiningPoolTipsSummary
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/mining-pool-tips-summary?assets=btc&page_size=3&pretty=true&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/mining-pool-tips-summary?assets=btc&page_size=3&pretty=true&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_mining_pool_tips_summary(assets="btc", page_size="3").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MiningPoolTipsSummary'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/asset-chains:
    servers:
    - url: https://api.coinmetrics.io/v4
    - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Asset chains (experimental)
      description: 'Returns the chains of blocks for the specified assets.

        Lists all the chains that were active in the blockchain during the time that''s enough to produce the number of blocks considered as an industry-standard number of confirmations.

        A new entry is created when we detect any new block anywhere in the chain.

        This endpoint is useful for those who want to quickly detect reorganizations or visualize currently active chains.

        If there are two or more active chains, then the response will contain the chain fragments starting from their common ancestor block. Otherwise, if there is a single active chain - only the blockchain tip is returned.

        The reorganization depth is measured as a number of consecutive blocks that were disconnected from the common ancestor block.

        Results are ordered by tuple `(asset, time)`.

        To fetch the next page of results use `next_page_url` JSON response field.'
      operationId: getAssetChains
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/AssetChains'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/mempool-feerates:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Mempool feerates (deprecated)
      description: 'Returns mempool feerates for the specified assets.

        This endpoint is useful for those who want to explore the history of the feerate distribution and potentially select the time period with the lowest commissions.

        Results are ordered by `(asset, time)`.

        To fetch the next page of results use the `next_page_url` JSON response field.'
      operationId: getMempoolFeerates
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/MempoolFeeratesPageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/MempoolFeerates'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BlockchainForbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/asset-alerts:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: Asset alerts (deprecated)
      description: 'Returns asset alerts for the specified assets.

        This endpoint is useful for those who wants to track the breaches in the particular asset''s Key Risk Indicator thresholds.

        An asset alert is issued once an alerting metric value either breaches it''s Key Risk Indicator threshold or returns back to normal for a predefined period of time.

        Results are ordered by `(asset, time, alert)`.

        To fetch the next page of results use the `next_page_url` JSON response field.'
      operationId: getAssetAlerts
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/AssetAlertId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      - $ref: '#/components/parameters/AssetAlertIncludeHeartbeats'
      responses:
        '200':
          $ref: '#/components/responses/AssetAlerts'
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
  /timeseries/defi-balance-sheets:
    servers:
    - url: https://api.coinmetrics.io/v4
    get:
      summary: DeFi balance sheets (experimental)
      description: 'Returns Defi Balance Sheet records for specified DeFi protocols.

        The data is being updated on an end-of-day frequency.

        Results are ordered by tuple (`defi_protocol`, `block_height`).

        To fetch the next page of results use the `next_page_url` JSON response field.'
      operationId: getDefiBalanceSheets
      x-codeSamples:
      - label: Shell
        source: 'curl --compressed "https://api.coinmetrics.io/v4/timeseries/defi-balance-sheets?defi_protocols=aave_v2_eth&api_key=<your_key>"

          '
      - label: Python
        source: 'import requests

          response = requests.get(''https://api.coinmetrics.io/v4/timeseries/defi-balance-sheets?defi_protocols=aave_v2_eth&api_key=<your_key>'').json()

          print(response)

          '
      - label: Python Client
        source: 'from coinmetrics.api_client import CoinMetricsClient

          client = CoinMetricsClient(<your_key>)


          response = client.get_defi_balance_sheets(defi_protocols="aave_v2_eth").to_list()

          print(response)

          '
      tags:
      - Time Series
      parameters:
      - $ref: '#/components/parameters/DefiProtocols'
      - $ref: '#/components/parameters/StartTimeMutuallyExclusiveWithHeight'
      - $ref: '#/components/parameters/EndTimeMutuallyExclusiveWithHeight'
      - $ref: '#/components/parameters/StartHeightMutuallyExclusiveWithTime'
      - $ref: '#/components/parameters/EndHeightMutuallyExclusiveWithTime'
      - $ref: '#/components/parameters/StartInclusive'
      - $ref: '#/components/parameters/EndInclusive'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PagingFrom'
      - $ref: '#/components/parameters/Pretty'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NextPageToken'
      responses:
        '200':
          $ref: '#/components/responses/DefiBalanceSheets'
        '400':
          $ref: '#/components/responses/DefiProtocolNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '414':
          $ref: '#/components/responses/UriTooLong'
      security:
      - api_key: []
components:
  schemas:
    MarketQuote:
      description: Information about market quote.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        coin_metrics_id:
          $ref: '#/components/schemas/OrderBookAndQuoteCoinMetricsId'
        ask_price:
          $ref: '#/components/schemas/QuoteAskPrice'
        ask_size:
          $ref: '#/components/schemas/QuoteAskSize'
        bid_price:
          $ref: '#/components/schemas/QuoteBidPrice'
        bid_size:
          $ref: '#/components/schemas/QuoteBidSize'
      type: object
      required:
      - market
      - time
      - coin_metrics_id
    AssetId:
      description: Unique name of the asset.
      type: string
    TradeBeneficiary:
      description: Swap output receiver. Available for DeFi markets only.
      type: string
    ExchangeAsset:
      description: Unique combination of the exchange and asset.
      type: string
    OrderBookBids:
      description: The bids orders on the order book.
      items:
        $ref: '#/components/schemas/BookEntry'
      type: array
    NextPageUrl:
      description: URL of the next page results for a given request.
      type: string
    DefiBalanceSheetLiabilitiesTotalCount:
      description: Total count of all liabilities in the DeFi balance sheet.
      type: string
      format: int64
    ErrorObject:
      properties:
        type:
          description: Error type string. Can be used for error identification.
          type: string
        message:
          description: Human-friendly error description. Can be amended without prior notification. Do not use for error identification in your code.
          type: string
      required:
      - type
      - description
      type: object
    TradeInitiator:
      description: Swap transaction initiator. Available for DeFi markets only.
      type: string
    InstitutionMetricsResponse:
      description: Time series of institution metrics.
      properties:
        data:
          items:
            type: object
            properties:
              institution:
                $ref: '#/components/schemas/Institution'
              time:
                $ref: '#/components/schemas/Time'
            additionalProperties:
              description: Metric value. `null` value is only possible when multiple metrics are requested, but not all are calculated for now. Absent metric field is only possible when multiple metrics are requested, but not all are supported for requested institutions.
              type:
              - string
              - 'null'
            required:
            - institution
            - time
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    CandlePriceOpen:
      description: The opening price of the candle.
      type: string
      format: decimal
    DefiBalanceSheetCurrentRatio:
      description: DeFi balance sheet current ratio.
      type: string
      format: decimal
    Verification:
      description: Information about verification.
      properties:
        timestamp:
          $ref: '#/components/schemas/VerificationTime'
        level:
          $ref: '#/components/schemas/VerificationIndexLevelValue'
        signature:
          $ref: '#/components/schemas/Signature'
      type: object
      required:
      - signature
    ExchangePair:
      description: Unique combination of the exchange and pair.
      type: string
    OrderBookAsks:
      description: The ask orders on the order book.
      items:
        $ref: '#/components/schemas/BookEntry'
      type: array
    DefiBalanceSheetAssets:
      description: DeFi balance sheet assets.
      type: array
      items:
        $ref: '#/components/schemas/DefiBalanceSheetAssetItem'
    Market:
      description: Unique name of the market.
      type: string
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
      required:
      - error
      type: object
    PoolCount:
      description: The count of unique pools mining on the tip.
      type: string
      format: int64
    MarketMetricsResponse:
      description: Time series of market metrics.
      properties:
        data:
          items:
            type: object
            properties:
              market:
                $ref: '#/components/schemas/Market'
              time:
                $ref: '#/components/schemas/Time'
            additionalProperties:
              description: Metric value. `null` value is only possible when multiple metrics are requested, but not all are calculated for now. Absent metric field is only possible when multiple metrics are requested, but not all are supported for requested market.
              type:
              - string
              - 'null'
            required:
            - market
            - time
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    MiningPoolTipsSummaryResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MiningPoolTipsSummary'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    TradeTransactionId:
      description: Swap transaction ID. Available for DeFi markets only.
      type: string
    MempoolFeerates:
      type: array
      items:
        $ref: '#/components/schemas/MempoolFeerate'
    OrderBookSize:
      description: The size of the limit order on the order book in units of the base asset.
      type: string
      format: decimal
    DefiBalanceSheetAssetItem:
      description: DeFi balance sheet asset item.
      properties:
        asset:
          $ref: '#/components/schemas/Asset'
        total_units:
          $ref: '#/components/schemas/DefiBalanceSheetItemBalanceUnits'
        loans_lent_units:
          $ref: '#/components/schemas/DefiBalanceSheetItemBalanceUnits'
        tvl_units:
          $ref: '#/components/schemas/DefiBalanceSheetItemBalanceUnits'
        total_usd:
          $ref: '#/components/schemas/DefiBalanceSheetItemBalanceUsd'
        loans_lent_usd:
          $ref: '#/components/schemas/DefiBalanceSheetItemBalanceUsd'
        tvl_usd:
          $ref: '#/components/schemas/DefiBalanceSheetItemBalanceUsd'
        total_share:
          $ref: '#/components/schemas/DefiBalanceSheetItemShare'
        loans_lent_share:
          $ref: '#/components/schemas/DefiBalanceSheetItemShare'
        tvl_share:
          $ref: '#/components/schemas/DefiBalanceSheetItemShare'
      required:
      - asset
      - total_units
    CandleVwap:
      description: The volume-weighted average price of the candle.
      type: string
      format: decimal
    TradeImpliedVolatility:
      description: Implied volatility calculated from the trade price.
      type: string
      format: decimal
    MarkPrice:
      description: The price representing the futures' or option's price calculated by the exchange for risk management purposes.
      type: string
      format: decimal
    IndexLevelValue:
      description: The value of the index.
      type: string
      format: decimal
    Signature:
      description: The signature information.
      type: string
    MarketOrderBook:
      description: Information about order book.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        coin_metrics_id:
          $ref: '#/components/schemas/OrderBookAndQuoteCoinMetricsId'
        asks:
          $ref: '#/components/schemas/OrderBookAsks'
        bids:
          $ref: '#/components/schemas/OrderBookBids'
        database_time:
          $ref: '#/components/schemas/DatabaseTime'
        collect_time:
          $ref: '#/components/schemas/OrderBookCollectTime'
      type: object
      required:
      - market
      - time
      - coin_metrics_id
      - asks
      - bids
      - database_time
    MarketImpliedVolatilityResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MarketImpliedVolatility'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    ChainsCount:
      description: Count of all the chains that were active in the blockchain during the past hour.
      type: string
      format: int64
    ProtocolMetricsResponse:
      description: Time series of protocol metrics.
      properties:
        data:
          items:
            $ref: '#/components/schemas/ProtocolMetricValue'
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    LiquidationType:
      description: The liquidation type. "trade" means that liquidation was executed, "order" means that the order was placed for the liquidation at the timestamp of the data entry but it wasn't necessarily executed yet.
      type: string
    MarketQuotesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MarketQuote'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    FundingRatePeriod:
      description: Period of a funding rate for a given market.
      type: string
    TradeMarkPrice:
      description: The price representing the futures' or option's price calculated by the exchange for risk management purposes.
      type: string
      format: decimal
    IndexCandle:
      description: Information about index candle.
      properties:
        index:
          $ref: '#/components/schemas/IndexId'
        time:
          $ref: '#/components/schemas/Time'
        price_open:
          $ref: '#/components/schemas/CandlePriceOpen'
        price_close:
          $ref: '#/components/schemas/CandlePriceClose'
        price_high:
          $ref: '#/components/schemas/CandlePriceHigh'
        price_low:
          $ref: '#/components/schemas/CandlePriceLow'
        candle_trades_count:
          $ref: '#/components/schemas/CandleTradesCount'
      type: object
      required:
      - index
      - time
      - price_open
      - price_close
      - price_high
      - price_low
      - candle_trades_count
    MarketCandle:
      description: Information about market candle.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        price_open:
          $ref: '#/components/schemas/CandlePriceOpen'
        price_close:
          $ref: '#/components/schemas/CandlePriceClose'
        price_high:
          $ref: '#/components/schemas/CandlePriceHigh'
        price_low:
          $ref: '#/components/schemas/CandlePriceLow'
        vwap:
          $ref: '#/components/schemas/CandleVwap'
        volume:
          $ref: '#/components/schemas/CandleVolume'
        candle_usd_volume:
          $ref: '#/components/schemas/CandleUsdVolume'
        candle_trades_count:
          $ref: '#/components/schemas/CandleTradesCount'
      type: object
      required:
      - market
      - time
      - price_open
      - price_close
      - price_high
      - price_low
      - vwap
      - volume
      - candle_usd_volume
      - candle_trades_count
    AssetMetricsResponse:
      description: Time series of asset metrics.
      properties:
        data:
          items:
            type: object
            properties:
              asset:
                $ref: '#/components/schemas/Asset'
              time:
                $ref: '#/components/schemas/Time'
            additionalProperties:
              description: Metric value. `null` value is only possible when multiple metrics are requested, but not all are calculated for now. Absent metric field is only possible when multiple metrics are requested, but not all are supported for requested assets.
              type:
              - string
              - 'null'
            required:
            - asset
            - time
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    MarketGreeks:
      description: Information about market greeks.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        vega:
          $ref: '#/components/schemas/GreeksVega'
        theta:
          $ref: '#/components/schemas/GreeksTheta'
        rho:
          $ref: '#/components/schemas/GreeksRho'
        delta:
          $ref: '#/components/schemas/GreeksDelta'
        gamma:
          $ref: '#/components/schemas/GreeksGamma'
        database_time:
          $ref: '#/components/schemas/DatabaseTime'
        exchange_time:
          $ref: '#/components/schemas/OptionTickerExchangeTime'
      type: object
      required:
      - market
      - time
      - database_time
    MarketTrade:
      description: Information about trade.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        coin_metrics_id:
          $ref: '#/components/schemas/TradesCoinMetricsId'
        amount:
          $ref: '#/components/schemas/TradeAmount'
        price:
          $ref: '#/components/schemas/TradePrice'
        side:
          $ref: '#/components/schemas/TradeSide'
        block_hash:
          $ref: '#/components/schemas/TradeBlockHash'
        block_height:
          $ref: '#/components/schemas/TradeBlockHeight'
        txid:
          $ref: '#/components/schemas/TradeTransactionId'
        initiator:
          $ref: '#/components/schemas/TradeInitiator'
        sender:
          $ref: '#/components/schemas/TradeSender'
        beneficiary:
          $ref: '#/components/schemas/TradeBeneficiary'
        database_time:
          $ref: '#/components/schemas/DatabaseTime'
        mark_price:
          $ref: '#/components/schemas/TradeMarkPrice'
        index_price:
          $ref: '#/components/schemas/TradeIndexPrice'
        iv_trade:
          $ref: '#/components/schemas/TradeImpliedVolatility'
        liquidation:
          $ref: '#/components/schemas/TradeLiquidation'
      required:
      - market
      - time
      - coin_metrics_id
      - amount
      - price
      - database_time
      type: object
    PairCandlesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PairCandle'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    OptionTickerExchangeTime:
      description: Time corresponding to option ticker data point, according to the exchange. Can be NULL, if exchange doesn't support it.
      type: string
      format: date-time
    DefiProtocol:
      description: DeFi protocol name (e.g. `aave_v2_eth` or `uniswap_v3_eth`).
      type: string
    MarketFundingRatesPredictedDataArray:
      description: Time series of predicted market funding rates.
      items:
        $ref: '#/components/schemas/MarketFundingRatePredicted'
      type: array
    AssetAlertHeartbeats:
      type: array
      items:
        $ref: '#/components/schemas/AssetAlertHeartbeat'
    AssetAlertsResponse:
      description: Asset alerts response.
      properties:
        heartbeats:
          $ref: '#/components/schemas/AssetAlertHeartbeats'
        data:
          $ref: '#/components/schemas/AssetAlerts'
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    TradeLiquidation:
      description: Indicates whether the maker side, taker side, or both sides of the trade is under liquidation.
      type: string
    QuoteAskPrice:
      description: The limit price of the top ask on the order book. If no asks in the order book, the ask price is skipped.
      type: string
      format: decimal
    DefiBalanceSheet:
      properties:
        defi_protocol:
          $ref: '#/components/schemas/DefiProtocol'
        block_height:
          $ref: '#/components/schemas/DefiBalanceSheetBlockHeight'
        time:
          $ref: '#/components/schemas/DefiBalanceSheetTime'
        assets_total_usd:
          $ref: '#/components/schemas/DefiBalanceSheetAssetsTotalUsd'
        assets_total_count:
          $ref: '#/components/schemas/DefiBalanceSheetAssetsTotalCount'
        liabilities_total_usd:
          $ref: '#/components/schemas/DefiBalanceSheetLiabilitiesTotalUsd'
        liabilities_total_count:
          $ref: '#/components/schemas/DefiBalanceSheetLiabilitiesTotalCount'
        loans_lent_total_usd:
          $ref: '#/components/schemas/DefiBalanceSheetLoansLentTotalUsd'
        tvl_total_usd:
          $ref: '#/components/schemas/DefiBalanceSheetTvlTotalUsd'
        net_working_capital_usd:
          $ref: '#/components/schemas/DefiBalanceSheetNetWorkingCapitalUsd'
        protocol_utilization_ratio:
          $ref: '#/components/schemas/DefiBalanceSheetProtocolUtilizationRatio'
        liquid_supply_ratio:
          $ref: '#/components/schemas/DefiBalanceSheetLiquidSupplyRatio'
        current_ratio:
          $ref: '#/components/schemas/DefiBalanceSheetCurrentRatio'
        debt_to_assets_ratio:
          $ref: '#/components/schemas/DefiBalanceSheetDebtToAssetRatio'
        assets:
          $ref: '#/components/schemas/DefiBalanceSheetAssets'
        liabilities:
          $ref: '#/components/schemas/DefiBalanceSheetLiabilities'
      required:
      - defi_protocol
      - block_height
      - time
      - assets_total_usd
      - assets_total_count
      - liabilities_total_usd
      - liabilities_total_count
      - loans_lent_total_usd
      - tvl_total_usd
      - net_working_capital_usd
      - assets
      - liabilities
    DefiBalanceSheetsResponse:
      description: DeFi balance sheets response.
      properties:
        data:
          $ref: '#/components/schemas/DefiBalanceSheets'
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    QuoteBidSize:
      description: The size of the top bid on the order book. If no bids in the order book, the bid size is skipped.
      type: string
      format: decimal
    MarketFundingRatesDataArray:
      description: Time series of market funding rates.
      items:
        $ref: '#/components/schemas/MarketFundingRate'
      type: array
    GreeksGamma:
      description: The second derivative of the option's price to the underlying asset's price.
      type: string
      format: decimal
    DatabaseTime:
      description: A time when we saved the data in the database. The time is in ISO 8601 date-time format. Always with nanoseconds precision.
      type: string
      format: date-time
    DefiBalanceSheetTime:
      description: The time near or equal to the block creation time this DeFi balance sheet is calculated at. The time in ISO 8601 date-time format. Always with nanoseconds precision.
      type: string
      format: date-time
    MempoolFeerateBandCount:
      description: Amount of transactions included into the current mempool feerate band.
      type: string
      format: int64
    TradeAmount:
      description: The amount of the base asset traded.
      type: string
      format: decimal
    CandleTradesCount:
      description: The number of trades used for candle calculation.
      type: string
      format: int64
    IndexConstituentPrice:
      description: The price of the constituent.
      type: string
      format: decimal
    ContractCount:
      description: Number of contracts.
      type: string
      format: int64
    ReorgDepth:
      description: A number of consecutive blocks that were disconnected from the common ancestor block of the previous and current longest active chains during the chain reorganization.
      type: string
      format: int64
    DefiBalanceSheetItemShare:
      description: The percentage that this item represents relative to the total value.
      type: string
      format: decimal
    MarketOpenInterest:
      description: Information about open interest.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        contract_count:
          $ref: '#/components/schemas/ContractCount'
        value_usd:
          deprecated: true
          $ref: '#/components/schemas/ContractValueUSD'
        database_time:
          $ref: '#/components/schemas/DatabaseTime'
        exchange_time:
          $ref: '#/components/schemas/OpenInterestExchangeTime'
      required:
      - market
      - time
      - contract_count
      - value_usd
      - database_time
      type: object
    DefiBalanceSheetLiquidSupplyRatio:
      description: DeFi balance sheet liquid supply ratio.
      type: string
      format: decimal
    MarketOpenInterestDataArray:
      description: Time series of market open interest.
      items:
        $ref: '#/components/schemas/MarketOpenInterest'
      type: array
    MempoolFeerateBandFees:
      description: Fees summed up for all the transactions included into the current mempool feerate band. Unit is BTC.
      type: string
      format: decimal
    OrderBookCollectTime:
      description: Time of when the order book was received from the exchange.
      type: string
      format: date-time
    MarketOpenInterestResponse:
      properties:
        data:
          $ref: '#/components/schemas/MarketOpenInterestDataArray'
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    LiquidationPrice:
      description: The price of the base asset quoted in the quote asset that the liquidation was executed at.
      type: string
      format: decimal
    TradeBlockHeight:
      description: Swap block height. Available for DeFi markets only.
      type: string
      format: int64
    MempoolFeerateBandConsensusSize:
      description: Consensus sizes summed up for all the transactions included into the current mempool feerate band. vSizes sum can be derived as 'vSize = consensusSize / 4'.
      type: string
      format: decimal
    MarketOrderbookResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MarketOrderBook'
          type: array
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        next_page_url:
          $ref: '#/components/schemas/NextPageUrl'
      required:
      - data
      type: object
    GreeksTheta:
      description: The first derivative of the option's price to the passage of time.
      type: string
      format: decimal
    AssetAlertThreshold:
      description: Asset alert's Key Risk Indicator threshold value. Omitted if the corresponding alert rule consists of multiple conditions.
      type: string
    BlockchainBlockHash:
      description: Hash of the block.
      type: string
    GreeksRho:
      description: The first derivative of the option's price to the risk free interest rate.
      type: string
      format: decimal
    MempoolFeerate:
      properties:
        asset:
          $ref: '#/components/schemas/Asset'
        time:
          $ref: '#/components/schemas/Time'
        feerates:
          $ref: '#/components/schemas/MempoolFeerateBands'
      required:
      - asset
      - time
      - feerates
    VerificationTime:
      description: The verification time of the index.
      type: string
      format: date-time
    AssetAlertName:
      description: Asset alert name.
      type: string
    MarketContractPrices:
      description: Information about market contract prices.
      properties:
        market:
          $ref: '#/components/schemas/MarketId'
        time:
          $ref: '#/components/schemas/Time'
        mark_price:
          $ref: '#/components/schemas/MarkPrice'
        index_price:
          $ref: '#/components/schemas/IndexPrice'
        settlement_price_estimated:
          $ref: '#/components/schemas/SettlementPriceEstimated'
        database_time:
          $ref: '#/components/schemas/DatabaseTime'
        exchange_time:
          $ref: '#/components/schemas/OptionTickerExchangeTime'
      type: object
      required:
      - market
      - time
      - database_time
    CandleUsdVolume:
      description: The volume of the candle in USD.
      type: string
      format: decimal
    TradeSide:
[...]
